[2011-10-30 10:59] bjoerns1983 opened #1 "Cant get Botlist"
I am using the current Version of XG.
The Problem is that in most IRC Channels i dont get a Botlist.
For example in channel #gax on irc.otakubox.net, althought XG connects to the channel (checked it by a second client).

I am using xg on my private Server (console, web access) with debian squeeze.

[2011-10-30 14:33] lformella commented on #1
Already read it on my webside ;) but i'am currently moving and got no time to check these issue. Hold on 3-4 weeks and i'll check this!

[2011-11-21 15:50] Strubbl opened #2 "server list duplicates itself on opening server entry"
if i open a server entry in the server list in the upper left (click on the small triangle left of the server entry label), the whole server lists inserts itself another time in the list.
afterwards, i have a list in a list, so i can open an entry while opening an entry

my version:
small size improvements
commit f1c2c0ca480f7af08eaef951422db94b31748927
lformella authored September 07, 2011

[2011-12-03 10:16] lformella commented on #2
solved in 150ee294e117eb9462b0e2b6a7451a52eec35a44

[2011-12-03 10:16] #2 closed, assigned to lformella

[2011-12-03 12:18] lformella commented on #1
Ich schreib einfach mal auf deutsch :-)
Ich hab mich mal mit Colloquy (Irc Prog) auf den Server und Channel verbunden und das Problem ist, das die Bots dort keine Pakete direkt in den Channel posten. Statt dessen muss man mit "!list" in den Channel, bzw. "/msg bot xdcc list" an den enstprechenden Bot, die Pakete anfragen. Das kann XG aber nicht, sondern benutzt nur die einfache Variante, in dem es

[2011-12-07 19:12] bjoerns1983 commented on #1
Kann man in XG denn vielleicht eine möglichkeit einbauen damit XG ein Paket nach Angabe der Paketnummer und des Bots downloaded?
So könnte man das Listing umgehen, das wär zwar nicht ganz so komfortabel, aber egal.

[2012-05-29 14:35] Shaaah opened #3 "Client crash & password error"
When I try starting the client it just crashes (got no idea why).
When I try to use the webserver, I get a error saying my nickserv password is wrong (on the sever window). I filled my password in the <IrcRegisterPasswort> settings.xml file, but i wonder if it works.

[2012-05-29 17:19] lformella commented on #3
Great, that you find your way here and filled out a bug report :)

But, you have attach a few things to this and future bug reports:
1. Which version of XG are you using? Did you downloaded it from github, sourceforge or elsewhere? Or did you maybe compiled it your own? If so, which commit are you using?
2. Which OS and version of .Net / Mono are you using? Windows XP, Ubuntu, ...?
3. Where and wh

[2012-05-29 17:26] lformella commented on #3
I have to mention, that the gtk client might be broken, because i didn't use it anymore. Therefor i already dropped it of the repository. All future versions of XG only will include the webserver, because it is much easier to manage.

Also the nickserv functions are not working at the moment. You can add your credentials, but it wont work properly. It is a point on my todo list, after including th

[2012-05-29 17:29] lformella commented on #1
Diese von dir beschriebene Möglichkeit, wird es in Version 0.9 geben. Bzw. werde ich ich die externe Suche von http://xg.bitpir.at einbinden und damit das Benutzen von xdcc:// Links ermöglichen :)

[2012-05-29 21:36] Shaaah commented on #3
Thanks for the answer!
I've been using the XG server installer I got from the website (http://www.larsformella.de : 0.8) on Windows 7. And I'm runnning on .NET 4.0.3.
The problem with the gtk client isn't that important because I can use the webclient. But all of the xdcc download I'm interested into are on nickserv protected channels so, I'll be trying the soft when the update will come out!

[2012-06-20 18:25] Strubbl opened #4 "make "Updated" column in external search sortable"
Yeah, I know I can already sort the results from the external search, but please don't make the dates in the column "Aktualisiert/Updated" look like "Friday at 08:26" and "20. May at 10:26". Because of that mixture the sorting of the strings is not in the right logical date order. So the results aren't sorted in the correct time order.

[2012-06-20 18:53] lformella commented on #4
The sorting happens on the server, even using external search. Jqgrid depends on this workflow and this is much more faster then receiving the whole list and sorting it on the client. The displayed strings are just different formats of the timestamps received from the server.

[2012-06-20 18:53] #4 closed, assigned to lformella

[2012-06-26 16:41] sysmike commented on #3
You could make a separate repository for the GTK Client, so I can fork it and try to get it working again. I really liked the server-client concept you were working on.

[2012-06-26 17:49] lformella commented on #3
You dont like the frontend of the webserver? I like it much more than the gtk stuff. It runs with every browser and doesnt depend on installed gtk libs.

You can already fork the project now and do a rollback to r150ee294e1, before i was dropping the tcp support including the client. There you will find a winforms client (XG.Client.TCP.WinForms), too. It is just a basic fork of the gtk stuff, but

[2012-06-26 17:52] lformella commented on #3
this is the commit (r150ee294e1) you should rollback to: https://github.com/lformella/xdcc-grabscher/tree/150ee294e117eb9462b0e2b6a7451a52eec35a44

[2012-06-26 18:23] sysmike commented on #3
Thanks for the hint, will start working on it the next day.

I prefer a more or less native gui over a webfrontend, at home I have a nice gui and when I am not at home I have the webfronted.

[2012-06-26 18:44] Shaaah commented on #3
Hi!
I saw that the nickserv should work now, and I tried to build (with visual C# 2010 express) and failed :D
Can you tell me what I should build with?

[2012-07-18 07:39] lformella commented on #3
A new release (0.9) is planed at the end of the week. It will include all recend changes and hopefully is stable enough to release the version 1.0 soon.

[2012-07-18 19:58] lformella commented on #3
Here it is: https://github.com/lformella/xdcc-grabscher/downloads

[2012-07-18 22:39] Shaaah commented on #3
Thanks!
I think you made a typo and swapped the names of the Linux & Windows versions.

[2012-07-18 22:56] Shaaah commented on #3
I've got two questions : How do you download a pack from a bot I cant see in the bot list? And how do I check if I am connected to a channel?

[2012-07-19 09:49] lformella commented on #3
I changed the files and will upload a new linux archive tonight - the file i uploaded yesterday was broken :-|

To download a file you have to search for packets. You can do this on the "xg.bitpir.at" tab and use the great external search, or on the internal tab. Therefore you have to add servers and channels manually with the "server / channels" button on the top. If you search packets with the e

[2012-09-19 16:39] Schabernack opened #5 "Feature Request: Allow downloading via right click"
Currently you have to doubleclick on a packet to start downloading. This seems to be a bit unreliable from times to times and the packets aren't added correctly to the enabled packet section. A right click context menu with which you can start the download would solve this issue and would also make it clearer if the packet has been added to your download list.

another advantage of this would be,

[2012-09-19 18:22] lformella commented on #5
Since https://github.com/lformella/xdcc-grabscher/commit/fe80aadaa975996830885b332ebe4f04d286aaf5 you can click on the small icons to disable / enable the current object :-)

[2012-09-25 06:32] #5 closed, assigned to lformella

[2012-09-25 06:33] #1 closed, assigned to lformella

[2012-09-25 06:34] #3 closed, assigned to lformella

[2012-10-09 14:44] Thunder88 opened #6 "Not Start on Windows 7"
I have downladed from here:
https://github.com/lformella/xdcc-grabscher/downloads

This:
XG_Server_0.9.1.msi— XG 0.9.1 Windows Installer
XG_Client_0.8.msi— XG Client 0.8 Windows Installer

My system is Windows 7 x64.

If i open the client simply crash:
APPCRASH Bucket  42039787, Type 4
P1: XG.Client.TCP.GTK.exe
P2: 0.8.0.0
P3: 4d8360cd
P4: KERNELBASE.dll
P5: 6.1.7601.17651
P6: 4e21213c
P7: e0434f4

[2012-10-09 14:47] Strubbl commented on #6
The problem you might have is a typo. Control if you have a file "setting.xml" or "settings.xml". There was a bug with the missing "s" if i remember it correctly.

I think the GTK client is not supported anymore. Use the web interface after starting the server by browsing to http://localhost:5555/ (or whatever you have configured)

[2012-10-09 17:28] lformella commented on #6
Yes - please dont use the GTK client. The webserver will fit all your needs.

Which port did you specified before starting the 0.9.1 server? And what means "accesso negato" in english? It seems that the port is already taken or you dont have enough rights to open a port. Do you use a firewall or a similar product which is blocking xg?

[2012-10-09 20:01] Thunder88 commented on #6
So i need to use only:
XG_Server_0.9.1.msi
Right?

I'll check it out for the "s" very soon. I don't have any external firewall, i don't have set nothing...

I have:
1) Installed server
2) Start the server from link on desktop
3) Error

Accesso Negato mean access denied.
Thanks for support

[2012-10-10 06:26] Thunder88 commented on #6
UPDATE:
Start XG Server 0.9.1 on a VM with Windws 7 SP1, the errors are:

10-10-2012 08:13:40,778 FATAL [ 1] Settings.Instance (Settings:0)
System.IO.FileNotFoundException: Could not find file 'C:\Program Files (x86)\XG\
XG Server\settings.xml'.
File name: 'C:\Program Files (x86)\XG\XG Server\settings.xml'
   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.Fi

[2012-10-10 08:09] Strubbl commented on #6
Hmm, I cannot reproduce the error. I installed it and .net 4.5. If I start the XG server via Admin command prompt, there is no problem:

[code]

Okay, after a while he complains about not having a statistics.xml, but that shouldn't be a problem cause he creates it:

[code]

How do you start your XG server? Double click in your explorer? Run as admin? Via command line?

[2012-10-10 08:16] Strubbl opened #7 "Missing "/favicon.ico", "/image&ODay", "/image&Ok""
my XG server (installed from XG_Server_0.9.1.msi) spams me in the console on Win7 64bit when clicking around in the web interface:

[code]

Is it missing a favicon.ico? And can you explain the same message for the "/image&ODay", "/image&Ok" and so on?

[2012-10-10 09:29] Thunder88 commented on #6
I have alredy wrote it, i have try both command line, the .exe in the main folder and admin mode.
Only with SP3 compatibility i can't see errors, but only a blank cmd of the server.
After that what i need to do? How to start the xdcc-grabsher gui?

[2012-10-10 09:32] Strubbl commented on #6
The "blank cmd of the server" might be the good sign. Just start your browser and go to http://localhost:5556 or what you have configured in your settings.xml. The GUI is a website in your browser at the given address.

[2012-10-10 09:54] Thunder88 commented on #6
Ok, on Windows 7 64-Bit work only if:
Run with compatibility mode to XP SP3
Run as admin

Thanks for support, I think it's a problem with file permissions and work only with SP3 compatibility and run as Admin

Cool, now i see the WebGUI:
http://i45.tinypic.com/2iw8umq.jpg

Now how to add server and bot?
Example
irc.test.net
#testchannel
BOT-Name

[2012-10-10 10:53] Strubbl commented on #6
just use Firefox. internet explorer sucks.

[2012-10-16 19:59] lformella commented on #7
I removed most of the icons and use an icon font instead. So the server tries to load images which are not in the dll anymore. Does this error still occur in the current version?

[2012-10-18 09:10] Strubbl commented on #7
Don't have the build tools to compile latest version of XG in Wintendo. Plus, I don't have it installed anymore. If there will be a XG_Server_0.9.2.msi (or newer), I can install and test it again.

[2012-10-26 07:58] #6 closed, assigned to lformella

[2012-10-26 07:59] lformella commented on #6
I will update the help section today, so you can easily add servers and channels by following the instructions steps.

[2012-11-13 05:38] alliao opened #8 "Database structure help?"
Hi Lars, Love this project! I have setup on my computer, but no idea how to prepare the database.
Is there something where I can setup the mysql database? so the server can talk to it?

Thanks! I have vs2012 installed, and compiled on windows7 64bits

[2012-11-13 07:12] alliao commented on #8
I found your install.sql file... To those that are as newbie as me under windows

type "mysql -u login -p password xg < install.sql" will import it.

It's working wonderfully now. Thank you very much!

[2012-11-13 07:12] #8 closed, assigned to lformella

[2012-11-13 07:19] lformella commented on #8
Why are you using the mysql database? Normally you dont need to use the database backend, because XG is working fine just using the normal file structrure. The database backend is just there because i use it at xg.bitpir.at to build a live search enigne. Because of this it lacks some features like saving the informations which files you are downloading.

[2012-11-15 21:24] #7 closed, assigned to lformella

[2012-11-19 21:19] Strubbl opened #10 "Json stuff not found when compiling"
I pulled the latest code from the master branch (commit 885faf9a5422251dad26052fa63586c6854a6a6d ) and i get the following errors when i try to compile xg:

[code]

Do i have to install some libs or something like that?

[2012-11-19 22:57] lformella commented on #10
um, i forgot to upload some external libs - fixed that now. but the trunk webserver plugin is unstable atm, because the websocket changes are not ready.

[2012-11-26 07:16] #10 closed, assigned to lformella

[2012-12-19 00:39] jingx23 opened #12 "Probleme beim starten unter raspbmc (Linux)"
Beim Aufruf des Webservers tritt folgender Fehler auf:

0:XG.Server.Plugin.General.Webserver.BrowserConnection.StartRun(/index.html)
System.ArgumentOutOfRangeException: Argument is out of range.
  at System.Globalization.DateTimeFormatInfo.GetAbbreviatedDayName (DayOfWeek dayofweek) [0x00000] in <filename unknown>:0
  at System.DateTimeUtils.ToString (DateTime dt, Nullable`1 utc_offset, System.Str

[2012-12-19 12:35] Strubbl commented on #12
Vielleicht sind die mono Pakete zu alt, wenn raspbmc auf Debian basiert?
Ansonsten wäre das ja mal cool, wenn das Projekt unter arm baut.

[2012-12-19 21:39] lformella commented on #12
Welche XG Version verwendest du denn? Und hast du die selbst kompiliert?

[2012-12-19 22:44] jingx23 commented on #12
Ist die 1.1.1 Version für Linux aus dem Download Bereich also keine selbstkompilierte Version. Wird das html zeugs eigentlich auch in .config entpackt oder ieht ers sich das aus der xgsnapshots Datei? Hab leider noch nicht die Zeit gefunden mich etwas in den Quellcode einzulesen.

[2012-12-19 23:18] Strubbl commented on #12
Was gibt in deinem raspbmc `uname -a` zurück? Die Downloadversion dürfte ja für x86 kompiliert sein und nicht für arm.

[2012-12-19 23:30] jingx23 commented on #12
Uname gibt folgendes zurück:
Linux raspbmc 3.6.7 #1 PREEMPT Tue Nov 20 23:18:55 UTC 2012 armv6l GNU/Linux

Ich dachte eigentlich bei .net ist es ähnlich wie bei java, sprich das die Programme in einer vm laufen. Nur das es bei .net wichtig ist ob unter mono oder mit dem .net framework kompiliert. Aber ich könnte natürlich auch probieren den Quellcode auf dem Raspberry mit dem arm prozi kompilieren

[2012-12-20 19:03] lformella commented on #12
Mono und .Net sollen binär kompatibel sein, allerdings baue ich XG immer auf dem entsprechenden Ziel OS - alleine schon weil unter Windows am Ende ein Setup raus fällt und es eins, zwei Stellen mit einer bedingten Kompilierung gibt. Die Kompilate auf dem selben OS sollten allerdings gleich sein, sprich es müssten die gleichen Binaries raus kommen, auch wenn du es auf Arm kompilierst. Allerdings te

[2012-12-20 19:23] jingx23 commented on #12
Erstmal danke für die Unterstützung, scheint wirklich so als sei es ein Fehler in Mono selbst. Ich habe jetzt mal als .NET noob probiert XG auf dem raspberry zu kompilieren, dabei tritt folgender Fehler auf "System.DivideByZeroException: Division by zero at System.DateTimeUtils.ToString.....". Das hat mich stutzig gemacht, da hier die DateTime Funktion nun auch abkachelt. Nach ein bisschen googlen

[2012-12-20 19:56] lformella commented on #12
Falls du XG selbst kompilierst, dann achte darauf das Tag v1.1.1 zu nehmen, da ich im Trunk momentan mit Websockets experimentiere und das noch nicht zu 100% tüffig ist...

[2012-12-23 22:43] jingx23 commented on #12
Kurze Rückmeldung, ich bin jetzt mal zum testen gekommen => Es liegt doch an den floating points mono funzt noch nicht für armhf (hard-float). Mit der soft-float Variante von Debian “wheezy” die es auf der raspberry download seite gibt funzt mono und somit das linux XG Paket einwandfrei.

[2013-01-20 19:57] Schabernack opened #13 "provide compiled binaries"
Since Github removed the Downloads function for every project there is no way to get a current version despite compiling it yourself.

Perhaps you can link to a more recent version on your homepage?

[2013-01-20 22:13] akrinke commented on #13
The downloads are still there, just the link is missing:
https://github.com/lformella/xdcc-grabscher/downloads

[2013-01-20 22:14] Schabernack commented on #13
thanks. but the link will be invalid sooner or later. Github announcement says the downloads are accessible 90, then it is taken offline.

[2013-01-20 22:17] akrinke commented on #13
Yes, it's no long term solution.

[2013-01-30 21:08] lformella commented on #13
I linked the 1.1.1 binaries on the download page on my homepage and will host the next releases myself.

[2013-01-30 21:08] #13 closed, assigned to lformella

[2013-06-04 10:31] hrvstr opened #14 "settings.xml is not working"
I am using XG 2.0 on Windows 8 Pro x64.
I modified the settings.xml located in .../AppData/Roaming/XG. I for example changed the password for the WebGUI but when I go "host:5556" i only can login using the default password "xgisgreat".

The ServerCMD gives me following errors:

04-06-2013 12:14:26,938 FATAL [960] 0:XG.Server.Plugin.General.Webserver.Browser
Connection.StartRun(/apple-touch-icon-14

[2013-06-04 10:51] lformella commented on #14
Where did you get the setup binary? This error (apple-touch-icon-144x144.png) shouldnt happen in the official setup provided here: http://www.larsformella.de/portfolio/programme-software/xg/download/

After you modified the settings.xml you have to restart XG, of course.

[2013-06-04 13:04] hrvstr commented on #14
Ok, seems like i downloaded something else yesterday. I deleted all files and did a fresh install. everything is working as expected except that i cannot forward XG in the windows firewall thus i can only access the WebGUI from another computer when i disable the windows firewall :/

the problem with the settings.xml are fixed now, thanks!

[2013-06-04 17:29] lformella commented on #14
Did you executed the commands listed here?
https://github.com/lformella/xdcc-grabscher#if-running-on-windows-vista-and-greater

[2013-06-05 08:25] hrvstr commented on #14
Yes I did, and i just tried again and it told me "file could not be created, because it already exists". so it successfully created those files, but i still need to disable the firewall to get to the WebGUI from another computer.

[2013-06-05 11:44] lformella commented on #14
Did you checked all boxes in the firewall dialog?
Just the one in the screenshot wont suffice.

![fw](https://f.cloud.github.com/assets/857226/611486/fd7fd7d8-cdd4-11e2-8100-e2a21a8c65e3.png)

[2013-06-06 09:10] hrvstr commented on #14
I think I didn't get a firewall dialog, i added a rule manually. At first I added "Server.CMD.exe" to the firewall whitelist, which should allow all ports i think. That didn't work so i tried forwarding port 5556+5557 to my server IP via the advanced firewall settings, no luck either. the problem has to be the firewall, since it works when i disable it completely.

I will try to delete every XG-re

[2013-06-12 23:08] Schabernack opened #15 "xdccg crashes"
The newest version (2.0.1) for linux crashes, sometimes after only running for a couple of minutes. Happened recently when using the web interface (searching)

This exception was thrown:

[code]

[2013-06-13 09:12] lformella commented on #15
Before I released the new websocket feature, I was running XG 2 beta since months whithout such errors. If you are using mono, the problem could be [mono itself](http://code.google.com/p/noda-time/issues/detail?id=97#c3). Wich os and .net / mono version are you using?

[2013-06-13 10:25] hrvstr opened #16 "feature requests"
I don't know if this is the right place for feature requests, so feel free to move/close this issue.

features:
- be able to highlight the packetname in the webfrontend. (to copy/paste, google, search imdb, etc)
- a function to cancel active downloads, for when a packet turns out to be something else.
- an option to load the local search results on multiple pages because the browser often freezes

[2013-06-13 13:15] Schabernack commented on #15
newest mono version on my distribution (lubuntu):

[code]

could indeed be a problem with mono itself, in which case I would have to postpone updating until this is fixed.

[2013-06-17 12:28] lformella commented on #15
Erm, I am using the same mono version and are not getting any time related exceptions...

I will enclose the piece of code causing this problem with a try catch block, so the webfrontend wont be fully operational, but XG should not crash anymore.

[2013-06-17 12:37] lformella commented on #16
- be able to highlight the packetname in the webfrontend. (to copy/paste, google, search imdb, etc)

Can you be more specific?
- a function to cancel active downloads, for when a packet turns out to be something else.

You can click on the icon of a downloading packet and XG will stop the download process and clean up temporary files.
- an option to load the local search results on multiple pages

[2013-06-20 23:55] hrvstr commented on #16
- be able to highlight the packetname in the webfrontend. (to copy/paste, google, search imdb, etc)
- Can you be more specific?
- When I browse the search results I often want so search youtube for a trailer or imdb for ratings. The current situation is that i can't highlight a packetname in the search results to use the context menu for a search. I would like to be able to use my mouse to highlig

[2013-06-21 00:00] hrvstr commented on #14
I deleted every XG entry in the firewall and did a fresh start. I got the firewall dialog and checked all boxes. still no luck, i can only access it with the firewall disabled.i don't have any other software firewalls just the native win 8 firewall and microsoft security essentials. do i have to forward something in the router?

[2013-06-24 09:10] hrvstr commented on #14
just wanted to say that the problem is still there. xg is running with admin rights, i checked all boxes and ran the 2 shell commands. is there anything left i can try? i don't really want to leave my firewall open all the time :/

[2013-06-26 07:23] lformella commented on #14
Sorry mate, but i dont run windows (exept for gaming and at work), so i cant reproduce your issue nor help you. Did you tried googling your problem? It might be a firewall issue, because XG is working fine with linux / mono.

[2013-07-09 21:03] Hamdor commented on #16
I can confirm that canceling download is broken, tested with lastest chrome, IE and opera
Using your last sources (09.07.2013)

[2013-07-10 00:14] Hamdor commented on #16
OK i found the function to cancle downloads, it only works in the irc overview, but if you have a "dead" download (means that the bot gone offline) you cant cancel the download anymore...

[2013-07-17 21:02] lformella commented on #16
@Hamdor your issue is solved here: https://github.com/lformella/xdcc-grabscher/releases/tag/v2.1.0

[2013-07-17 21:04] lformella commented on #15
Should be solved in this build: https://github.com/lformella/xdcc-grabscher/releases/tag/v2.1.0

[2013-07-24 07:54] hrvstr commented on #16
Canceling downloads by clicking the icon works now after applying the 2.1.0 update. Thanks!

[2013-07-24 08:01] hrvstr opened #17 "Packet sorting is broken after 2.1.0 update."
Hey,
I just wanted to let you know that the update to 2.1.0 (running on win8 pro 64x) broke the sorting functionality in the web front-end (viewing on latest chrome on mac osx 10.8.4).

reproduction:
- enter a search term into the irc-overview window.
- get a list of packets
- click the "Aktualisiert" (updated) tab to sort the packets by date.
- the packetlist is resorted somehow, but not by date.

[2013-07-24 08:07] hrvstr commented on #17
whoops, seems like was viewing the external search page instead of the irc-overview. still confusing the icons sometimes.

[2013-07-26 18:29] #15 closed, assigned to lformella

[2013-07-27 09:51] hrvstr commented on #16
another request: add a restart button to the settings drop-down menu.

this would be awesome as i have to constantly restart XG for two reasons:
- XG cant connect to any servers after the computer is being waken up from sleep-mode.
- search results sometimes won't come up and the cpu of the maschine viewing the web-frontend is under heavy load and getting extremly hot in a couple of second (from 6

[2013-07-28 08:30] lformella commented on #16
I am running XG on a pc connected via dsl which is disconnected from the provider every day. XG handles this disconnection properly and reconnects to all servers. The machine running the web frontend goes to sleep regulary and after wakeup there pops up a small window in the frontend saying that you should reload the page. Because of the used websocket you have to reload the page after a disconnec

[2013-07-28 08:35] #12 closed, assigned to lformella

[2013-07-29 15:02] hrvstr commented on #16
I should have been more clear: i have set up my server to go to sleep mode after a certain time of inactivity (i use this tool: getsmartpower.co.uk). it basicly sends a suspend signal when the cpu or network usage have not hit a specified threshold in 10 minutes.

everything is working as expected when the maschine viewing the webfrontend goes to sleep.

[2013-08-04 14:06] DaVarga opened #18 "cant connect to web interface"
After entering the password i got a connection lost using fedora 19

04.08.2013 16:02:23 [Info] Server started at ws://localhost:5557
04.08.2013 16:02:42 [Error] Application Error System.MissingMethodException: Method not found: 'System.Numerics.BigInteger.Parse'.
  at Newtonsoft.Json.JsonTextReader.ParseValue () [0x00000] in <filename unknown>:0
  at Newtonsoft.Json.JsonTextReader.ReadInternal ()

[2013-08-05 14:18] lformella commented on #18
You are right, the Newtonsoft.Json.dll version 5.\* wont work with mono. The windows builds are compiled with the newer version, but mono is stuck with 4.5.11.

Unfortunately the newer dll made its way into the 2.1.0 linux package :(
I will update the package / build a newer one later this day.

[2013-08-05 17:12] lformella commented on #18
Solved in https://github.com/lformella/xdcc-grabscher/releases/tag/v2.1.1

[2013-08-05 17:12] #18 closed, assigned to lformella

[2013-08-05 17:13] lformella commented on #16
@hrvstr packet name highlight bug is solved in: https://github.com/lformella/xdcc-grabscher/releases/tag/v2.1.1

[2013-08-06 17:40] DaVarga commented on #18
:+1:

[2013-08-13 17:19] rcombs opened #19 "Manually add bots in channels"
Not all bots announce themselves; there should be an option to specify those which don't by nick.

[2013-08-14 06:25] lformella commented on #19
If you add a bot manually you are still not able to download packages, because if the bot does not announce himself, there will be no packages. You can bypass this logic by entering a valid xdcc link via the settings popup. There you can enter a server, channel, bot and packet. If any of them already exists, it will be ignored. The packet is automatically enabled and requested.

XDCC links you can

[2013-08-14 06:27] rcombs commented on #19
If a bot doesn't annoilunce itself, the XDCC SEARCH and XDCC LIST commands could be used to retrieve the packlist.
—
Sent from Mailbox for iPhone

On Wed, Aug 14, 2013 at 1:25 AM, Lars Formella notifications@github.com
wrote:

[2013-08-17 20:15] Strubbl opened #20 "Unhandled Exception: System.IndexOutOfRangeException: Array index is out of range."
My reduced rabbit (release from stock) crashes under Linux after some time with an error message. Please see my console output:

[code]

[2013-08-19 18:54] Strubbl opened #21 "reduced rappit eats up all my memory"
The rabbit eats it all. Nearly 4GB RAM. And additionally 2.5GB of Swap. Then it crashes with the following error message.

While it eats all memory you cannot do anything. Computer is totally blocked. Just every 10 seconds or so a refresh of the opened htop. I switched to it so fast after starting xg.

Maybe I have too many downloads in queue? I wanted to download all the version of Ubuntu in para

[2013-08-19 19:21] Strubbl commented on #21
deleting the xg.bin brings xg up again. but of course all important data is gone now.

[2013-08-28 20:58] lformella commented on #21
I got the same exception every now and than on my dev setup using just one server and one channel. Maybe the mono Hashset implementation is broken. I can try using lists instead of hashsets...

[2013-09-16 10:46] hrvstr commented on #14
i am now running XG on a XBMCbuntu install on the same machine and I am having a much better experience. the web interface seems snappier than before, install was a breeze (just copy the files and launch the script via ssh) and i dont experience lags anymore when getting a lot of search results.

so while i couldn't find a solution for the problem the issue is solved.

[2013-09-16 10:46] #14 closed, assigned to lformella

[2013-09-16 10:55] hrvstr commented on #16
Hm, doesn't seem to work here. I'm on 2.1.1. and i can only highlight the line in yellow to see the bot. Still can't select text to copy and paste or use the context menu.

[2013-09-16 13:36] #17 closed, assigned to lformella

[2013-09-16 14:10] hrvstr opened #22 "Filehandlers problem (FATAL [303])"
I am using XG 2.1.1 on XBMCbuntu 12.10 and i really like it!

I tried out the file handler script today but it just created an empty folder with the name "filename.rar_".

in addition i wanted to know what i need to add to the script to pick up all kinds of archives. (tar,rar,zip,etc)
i never wrote a script before so i'm planning to edit the default script until it fits my needs.

what i want to d

[2013-09-16 17:54] lformella commented on #16
you have to double click on a packet to open a box with its name - (by design you cant copy packet names in slick grid)

[2013-09-17 09:32] hrvstr commented on #16
got it now, thanks for the help!

[2013-09-18 08:39] hrvstr commented on #22
ok i managed to solve it myself. i obviously had to install unrar for it to work. i thought it was already included in XBMCbuntu. the only question i have left is how i would go about adding TAR -files to the script.

[2013-09-29 19:13] hrvstr opened #23 "SIGSEGV while executing native code"
Hey, I am running XG 2.1.1 on XBMCbuntu. After updating my System today I got the following error when I tried to start XG with the bash command:

[code]

I tried to restart a couple of times and got some more output:

[code]

[2013-10-07 15:04] lformella commented on #21
https://github.com/lformella/xdcc-grabscher/releases/tag/v2.2.0

[2013-10-07 15:04] #21 closed, assigned to lformella

[2013-10-07 15:05] lformella commented on #20
solved in https://github.com/lformella/xdcc-grabscher/releases/tag/v2.2.0

[2013-10-07 15:05] #20 closed, assigned to lformella

[2013-10-07 15:09] lformella commented on #23
sigsevs in native code are mostly mono issues. in the most cases you can restart XG and it wont happen again.

you can try the new release which fixes some memory issues that might occur: https://github.com/lformella/xdcc-grabscher/releases/tag/v2.2.0

[2013-10-07 15:09] #23 closed, assigned to lformella

[2013-10-07 15:11] lformella commented on #22
Did you tried the part in the readme? https://github.com/lformella/xdcc-grabscher/blob/master/README.md#examples

[2013-11-06 00:28] Simiil opened #24 "Throttle Downloadspeed"
Throttling Downloadspeed is a crucial feature for many people, especially for a download service

[2013-11-06 13:47] Simiil opened #25 "Problems with connecting to specific channels"
Connecting to the Server `irc.scenep2p.net` works, and connecting to channels work. But if i connect to the channel `#the.source` it connects fine, gets the channel information and after a few seconds the whole server loses connection. The same happens with the server `irc.oceanirc.net` and the channel `#oce@n`

As soon i have some time i'll try to get more debug information

[2013-11-19 23:28] Freedos opened #26 "API/xdcc-link handling"
Hallo Lars!

I've been looking for years for good XDCC-client which can handle multi part downloads. Awesome!

It would be nice if if XG imports the packetinformation when you click xdcc-links (like xWeasel and ircklipper).

An API to use XG with Couchpotato or Sickbeard would also be a nice feature or at least a frequently scanned folder where you could drop txt files with xdcc-links.

hear is my

[2013-11-22 20:53] lformella commented on #26
Hi,

i dont know Couchpotato or Sickbeard - so how should an api look like?

Do you want to enable packets by calling urls? (like http://xg.de/packet/guid/enable ...)
Or just add xdcc links? (like http://xg.de/addLink?password=test&link=irc.server.de/#channel ...)

[2013-11-23 12:36] Freedos commented on #26
If you don't know Sichkbeard and Couchpotato you should definitely take a look at them.
http://sickbeard.com/
https://couchpota.to/

I'm still writing the the searcher plugin for couchpotato using xdccFinder.
To add packets to xdcc grabscher, i believe the most usefull option would be adding xdcc links.
They've been used since irc klipper and countain the filename information.

Best Regards
Freedo

[2013-12-15 12:04] lformella commented on #26
Solved in fc438f9 (https://github.com/lformella/xdcc-grabscher/blob/xg3/README.md#api)

[2013-12-15 12:06] lformella commented on #16
XG3 solves highlight and grid slow down issues (https://github.com/lformella/xdcc-grabscher/issues?milestone=3)

[2013-12-15 12:06] #16 closed, assigned to lformella

[2013-12-17 19:55] Freedos commented on #26
awesome

Mal gucken ob ich alter Maschi jetzt das plugin fertig krieg ;-)

[2013-12-19 14:17] lformella commented on #26
Müssen das unbedingt GET Requests sein, oder kannst du auch JSON Objekte per POST übergeben?

Also statt

GET ht*p://your-own-host:5556/api/615d86bb-f867-47c1-a860-ac24e09e976c/parseXdccLink/irc.test.net/servername/channel/bot/1/filename/

POST ht*p://your-own-host:5556/api/parseXdccLink

[code]

Letzteres würde mir besser gefallen.

[2013-12-31 10:05] ghost opened #27 "Various error messages"
I do not know how to categorize the following messages but I want to make you aware of it.
If I can provide further information please let me know.

31.12.2013 08:36:00 [Info] Failed to send. Disconnecting. System.AggregateException: One or more errors occured ---> System.ObjectDisposedException: The object was used after being disposed.
  at System.Net.Sockets.NetworkStream.CheckDisposed () [0x00

[2014-01-01 11:30] ghost commented on #27
Yet another one:

31-12-2013 17:27:29,669 FATAL [85] 0:XG.Server.Plugin.Core.Irc.Download(94.23.228.84:35053).StartRun()
System.IO.IOException: Read failure ---> System.Net.Sockets.SocketException: interrupted
  at System.Net.Sockets.Socket.Receive (System.Byte[] buffer, Int32 offset, Int32 size, SocketFlags flags) [0x00000] in <filename unknown>:0
  at System.Net.Sockets.NetworkStream.Read (Syste

[2014-01-01 16:03] ghost commented on #27
01-01-2014 11:40:26,097 FATAL [Threadpool worker] 0:XG.Server.Plugin.General.Webserver.Websocket.Server.OnSearchExternal(Riley Reid) cant load external search
System.Net.WebException: Error getting response stream (ReadDone2): ReceiveFailure ---> System.Exception:    at System.Net.WebConnection.HandleError(WebExceptionStatus st, System.Exception e, System.String where)
   at System.Net.WebConnecti

[2014-01-15 22:32] borkie commented on #25
idem here if i connect to some server and try to join certain channels.
XG report
<code>FATAL [12] 0:XG.Server.Plugin.Core.Irc.IrcConnection(irc.openjoke.org).StartRun() connection failed
Could not connect to: irc.openjoke.org:6667 the value cannot be null
Parameter name: channelname</code>

[2014-01-16 11:19] mmaedler opened #28 "Webfrontend keeps dropping connections"
Hi,

I'm using xg version 2.2.0.0 on a Ubuntu 12.04LTS Server and everytime I log in it takes a couple of seconds and the web frontend tells me "Verbindung zum XG Server verloren - bitte Seite neu laden!" and I need to relogin. The logfile is empty.

Also adding new servers is not possible as after hitting "Hinzufügen" nothing seems to be saved.

Any ideas?

Thanks a mil,
Moritz

[2014-01-19 22:18] lformella commented on #28
please try XG 3.0.0.0 (https://github.com/lformella/xdcc-grabscher/releases/tag/v3.0.0.0)

if the problem is still there please post again :-)

[2014-01-19 22:18] #28 closed, assigned to nobody

[2014-01-19 22:18] lformella commented on #25
please try XG 3.0.0.0 (https://github.com/lformella/xdcc-grabscher/releases/tag/v3.0.0.0)

if the problem is still there please post again :-)

[2014-01-19 22:20] lformella commented on #19
XG 3.0.0.0 (https://github.com/lformella/xdcc-grabscher/releases/tag/v3.0.0.0) supports XDCC LIST commands

take a look in the README

[2014-01-19 22:20] #19 closed, assigned to lformella

[2014-01-19 22:21] lformella commented on #22
in XG 3.0.0.0 (https://github.com/lformella/xdcc-grabscher/releases/tag/v3.0.0.0) you can edit filehandlers in the webfrontend

[2014-01-19 22:21] #22 closed, assigned to lformella

[2014-01-19 22:22] lformella commented on #24
XG 3.0.0.0 (https://github.com/lformella/xdcc-grabscher/releases/tag/v3.0.0.0) supports setting a max download limit

[2014-01-19 22:22] #24 closed, assigned to lformella

[2014-01-19 22:30] lformella commented on #27
I changed the exception handling in XG 3.0.0.0 (https://github.com/lformella/xdcc-grabscher/releases/tag/v3.0.0.0) there should be less exceptions printed.

Normally the exceptions will be echoed, but you can ignore them unless XG crashes or a feature does not work as expected. Except for downloads / server connections because the bots / servers might be dropping connections which will lead in exc

[2014-01-19 22:30] #27 closed, assigned to lformella

[2014-01-19 23:53] hrvstr opened #29 "Can't start XG3 without start.sh."
I wanted to try out XG3 today but the zip file doesn't include a "start.sh" anymore. i tried to use the old one from V2.2 with the EXE-filename modified but without luck. I am getting:

[code]

I am using XBMCbuntu via ssh. I installed all the packets needed with the command from the tutorial.
I managed to get it working under Mac OSX with the modified start.sh that looks like this:

[code]

when

[2014-01-20 15:10] borkie opened #30 "A lot of missing file"
If i try to install XG 3.0.0.0 msi under Windows 7 64bit professional a lot of file missing (return error 1308, source file missing).
Else if i try to load XG.Application.exe from the zip archive i get:
<code>Unhandled Exception: System.IO.FileNotFoundException: Unable to load the file or the assembly 'Mono.Posix, Version=4.0.0.0, Culture=neutral, PublicKeyToken=
0738eb9f132ed756' or one of its de

[2014-01-20 19:05] Freedos commented on #26
JSON ist super. Sorry das ich so lang nicht geantwortet habe. Was dir am besten passt

[2014-01-20 21:11] Simiil commented on #29
same here, using Linux Mint and `Mono JIT compiler version 2.10.8.1 (Debian 2.10.8.1-5ubuntu1)`

[2014-01-22 08:54] lformella commented on #29
I 'll update the zip file today in the evening, but as i mentioned here (https://github.com/lformella/xdcc-grabscher#on-linux-with-mono) you need mono 3.x

[2014-01-22 08:57] lformella commented on #30
Ups, I forgot to label the downloads correctly.

The zip file is for Linux / Mac only. You should use the provided msi file.

[2014-01-22 09:12] borkie commented on #30
If i try to install the msi i've a lot of error (missing files) like this:
<code>Error 1309.
Error reading from file: C:\Users\username\Desktop\program files\XG\XG.Application.exe.
Verify that the file exists and that you can access it.</code>
if i ignore it i've the same error for XG.Application.exe.config, agsXMPP.dll, HtmlAgilityPack.dll, Iesi.Collections.dll, log4net.dll, Meeby.SmartIrc4net.dl

[2014-01-22 14:00] hrvstr commented on #29
I am having a really hard time installing mono 3 on my 32bit XBMCbuntu 12.10 box. I added `deb http://debian.meebey.net/experimental/mono /` to my `/etc/apt/sources.list` file and tried to install with this command `apt-get install mono-complete`. When I try to dist-upgrade the mono dependencies keep getting kept back with this error message `E: Some packages could not be authenticated``

[2014-01-22 14:44] Strubbl opened #31 "SIGSEGV while executing native code"
Shortly after starting Decrypted Dragonfly I get some stack traces:

[code]

And after a while (some minutes) and all of a sudden, xg is exploding:

[code]

I am running mono 3.2.3-1 with Arch Linux. Those exceptions only seem to occur when using the webinterface. When starting XG and not using the webinterface none of the above listed outputs is printed - console stays clean and downloads are run

[2014-01-22 15:00] Strubbl commented on #31
Okay, the SIGSEGV while executing native code still occurs - even when not using the web client. I just lasts longer until the error appears.

[2014-01-22 18:55] lformella commented on #30
Please try the provided XG_3.0.0.0.exe file - this one should work.

[2014-01-22 18:55] lformella commented on #29
I updated the files and added a new stop.sh

[2014-01-22 19:03] lformella commented on #31
You can ignore the SignalR exception - it wont disturb the functionallity of XG and I am getting these exceptions, too.
Currently I did not find a way to avoid this exceptions / disable the log output. Seems some kind of a warning log output in a 3rd party lib.

The SIGSEV instead is not ok. Did the memory consumed by XG increased before the sig? I noticed some kind of memory leak with mono last w

[2014-01-22 19:08] lformella commented on #29
I used the same sources and was asked if I want to really install from unauthenticates sources - typed y and it worked.

[2014-01-22 20:50] borkie commented on #30
Thank you, now XG starts!

[2014-01-22 20:50] #30 closed, assigned to lformella

[2014-01-22 20:57] borkie opened #32 "No notifications description"
Under Windows 7 there aren't any description but only generic "Notification_Description_11" messages, it seems that some {{}} are missing around variable name, right?

<img src="http://imageshack.com/a/img13/1527/hzkl.jpg"/>

[2014-01-22 21:01] borkie commented on #25
Even with version 3.0.0.0 there is still the same problem.
You can see it by connecting  to irc.darksin.net and if you join #universal channel all is ok, but if you try to join #fusion or #atena XG disconnect from server

Reopen this issue :)

[2014-01-22 22:52] lformella commented on #25
Oh, I see - its a problem with a 3rd party lib. (https://github.com/meebey/SmartIrc4net/pull/18)

[2014-01-22 23:31] #25 closed, assigned to lformella

[2014-01-22 23:31] #32 closed, assigned to lformella

[2014-01-22 23:33] lformella commented on #25
I uploaded a fix here: https://github.com/lformella/xdcc-grabscher/releases/tag/v3.0.0.1

[2014-01-22 23:33] lformella commented on #32
I translated the messages into German and if you do not have a German locale, the English one should be used. Should... ;-)

I uploaded a fix here: https://github.com/lformella/xdcc-grabscher/releases/tag/v3.0.0.1

[2014-01-22 23:55] borkie commented on #25
thank you so much!!

[2014-01-23 14:02] Strubbl commented on #31
No, I cannot see a huge memory consumption before the sig.

[2014-01-23 15:04] Strubbl commented on #31
I updated to 3.0.0.1. But that's only fyi.
Then I just made a trace. It has approx. 30k lines. Most of them are duplicates. But maybe those last lines before the crash are a hint:

[code]

If not maybe you can provide a more chattier XG with debug symbols?

[2014-01-24 23:58] hrvstr opened #33 "Can't save settings with XG3 on MacOSX"
Hey I am using XG3 on Mac OSX 10.9.1 and I can't save any settings using the web interface. the save button is greyed out. Saving Filehandlers is greyed out as well.

[code]

[code]

[2014-01-25 11:25] hrvstr commented on #29
Thanks for adding the start.sh and giving help with mono. I still didn't get it to work and I think I may be out of luck at the moment. I will probably wait for Mono3 to be supported in my Ubuntu distro. I downgraded to XG 2.2. for the moment. I will try to set it up when I find some free time and report back!

[2014-01-25 13:33] borkie commented on #33
Same under windows.
Workaround is ability "Elasticsearch" under config and add a port number, then disable it and now you can save it

[2014-01-25 15:26] lformella commented on #33
Can you make a screenshot with the disabled button and your settings? If you do not want to post it here, send me an email to github{at}larsf{dot}.de

The save button is disabled If some of the fields have validation errors. If the fields are empty, they should be marked as valid.

[2014-01-31 13:13] hrvstr commented on #33
I wasn't able to reproduce the error at first when I tried to today. I was able to save settings right after starting the server. After saving for the first time, the save button got greyed out again and i wasn't able to get it back working with the workaround from user borkie (add a elastic search port number and disable again).
Screenshot: http://i.imgur.com/BNqhXpw.png

I then stopped the serve

[2014-02-01 22:48] copen2 opened #34 "XG 3.0.0.1 crashes on startup (Windows)"
I deinstalled XG 2.3, then installed XG 3.0.0.1.  It crashes on startup every time.

![capture](https://f.cloud.github.com/assets/6564256/2059033/d75b0588-8b92-11e3-9f5b-ddb6b5bcc300.PNG)

[2014-03-07 19:47] lformella commented on #33
fixed in: https://github.com/lformella/xdcc-grabscher/releases/tag/v3.1.0.0

[2014-03-07 19:47] #33 closed, assigned to lformella

[2014-03-07 19:48] lformella commented on #34
please try the new release: https://github.com/lformella/xdcc-grabscher/releases/tag/v3.1.0.0

[2014-03-15 14:13] kahoona77 opened #35 "Error in Web-Interface (on Mono)"
Hi,

I'm getting the following error, when i try to start the XG-Web-Interface:

(This is the log is from the chrome-console):

[code]

XG is running on Mint-Linux with Mono (v3.2.1).
I also had to copy "System.Xml.Linq.dll" to the XG-directory to get it started. Maybe this is the problem.

Im very excited about your software. i was searching for something like this for some time now.

[2014-03-18 17:42] fdietze opened #36 "Cannot start on Arch Linux"
Hi,

I just downloaded the current version (3.1.0.0) and tried to start with $ ./start.sh on Arch Linux. This gives me the following exception:

[code]

It seems like there is something wrong with my user configuration in Linux but I cannot figure out what it is. Do you have an idea?

Thanks!

[2014-03-18 20:03] Strubbl commented on #36
This issue has been introduced in Arch in the latest updates (since some weeks). I was using XG some weeks ago and it was working fine. Now I tried to start it and I get exactly the same error. Even with an old version of XG which was working in past.

[2014-03-19 18:43] lformella commented on #35
Was XG writing an error in the console / log, too? If you could post it or send via email it would be great! :)

[2014-03-19 20:05] #36 closed, assigned to lformella

[2014-03-19 22:13] lformella commented on #36
-> https://github.com/lformella/xdcc-grabscher/releases/tag/v3.1.0.1

[2014-03-19 23:11] fdietze commented on #36
It's working now. Thanks a lot!

[2014-03-20 16:57] lformella commented on #31
Are you still having these issues?

[2014-03-20 20:26] Strubbl opened #37 "extend search with excluded keywords"
Is it possible to extend the search feature to use keywords with a minus in front, e.g. -2010 or -theory? The keywords "2010" or "theory" shouldn't be in the search result.

[2014-03-20 20:28] Strubbl commented on #31
Seems not reproducible anymore. So it is fixed with the Backslash Barracuda release.

[2014-03-20 20:28] #31 closed, assigned to lformella

[2014-03-21 20:14] antoine-morisseau opened #38 "Make cmd window in Windows disappear."
Hello,
I am trying to find a way to launch XG in a background mode (like a windows service)
but each time it launch the XG.application.exe it show the console in Windows.
Is there a way to not display the console Window ?

Kind regards,

[2014-03-26 05:26] Khundian commented on #26
Great you included this in your download client :+1:, but the exact format for the pack should be 4 digits. Thats the way its always been used before in other clients, would be so nice if you could do the same
<code>
xdcc://irc.server.net/servername/#channel/bot/#0003/Test.avi/
xdcc://irc.server.net/servername/#channel/bot/#0030/Test.avi/
<code>

Thanks :)

[2014-03-26 09:03] #29 closed, assigned to lformella

[2014-03-26 23:23] #26 closed, assigned to lformella

[2014-03-26 23:23] #37 closed, assigned to lformella

[2014-03-27 18:36] Strubbl commented on #37
<3

[2014-03-28 19:55] Freedos opened #39 "Can't start XG 3.1.0.1 on Ubuntu 14.04"
When i start "mono XG.Application.exe" with XG 3.1.0.1 nothing happens.
I can open XG in browser but the Page is empty except the title "XG Webfrontend v{{VERSION}}". I don't get any errors over ssh.
2.2 has been working great. My mono version is: "Debian 3.2.8+dfsg-4ubuntu1".

Probably it's mono but I don't know how to switch back to a more stable Version.
Thanks for any help.

[2014-04-04 16:46] Strubbl opened #40 "shutdown XG via GUI"
Is it possible to add a feature, where one can shutdown XG via the web interface? Maybe a menu item can be added to the options menu? (And perhaps an "are you sure to shutdown" popup before really shutting down.)

[2014-04-04 16:48] hrvstr commented on #40
This already exists since v3 minus the confirm dialogue.

Am Freitag, 4. April 2014 schrieb Strubbl :

[2014-04-04 16:48] Strubbl opened #41 "XG does not shutdown when using linked folder"
My XG configuration directory ~/.config/XG is a link to another directory. Maybe this is the reason XG does not shutdown when I use the stop.sh script?
To shutdown XG I have to use ctrl+c.

[2014-04-04 16:53] Strubbl opened #42 "improve startup and overall performance"
When I start XG it need some minutes (2 to 3 min) before the web interface is ready. And even when this interface is ready, it needs some more time to get all my saved searches and downloads loaded.
Maybe my db files are too big? But how can I clean them up? E.g. I don't need the stuff older than a week or a couple of days.

File sizes are e.g.:
`$ ll
insgesamt 48M
-rw-r--r-- 1 strubbl users 2,3K

[2014-04-04 16:55] Strubbl commented on #40
OMG, I overlooked that. Sorry!

[2014-04-04 16:55] #40 closed, assigned to nobody

[2014-04-05 09:48] lformella commented on #41
I dropped the possibility to stop XG via shutdown file (used by stop.sh), because I enabled ctrl+c (inkl. other system hooks) and the button in the webfrontend (#40). The file was an ugly workaround to stop XG gracefully, because I did not know how to catch terminal signals at this time. Do you still need the shutdown file / stop.sh?

[2014-04-05 09:55] Strubbl commented on #41
No, thanks. Not needed. I just thought using ctrl+c might destroy the database. But when xg uses signal handling i am fine. I like that solution and the possibilty with the shutdown button in the gui

[2014-04-05 10:05] lformella commented on #42
The start up speed is limited by sqlite. Maybe I will find another embedded database to use, but atm you can only speed up loading time by installing a separate database like mysql and create your own hibernate config. If you need help, I can post an example.
XG will vacuum the sqlite file on startup to compact its size and uses a logic to drop bots and packets which are offline some time. If you

[2014-04-05 10:07] #41 closed, assigned to nobody

[2014-04-05 10:09] lformella commented on #39
Could you enable the browser "debug mode" using firebug in firefox or developer tools in chrome / ie? Maybe there are some javascript errors which will stop the creating of the webgui.

[2014-04-05 10:19] Strubbl commented on #42
It's a normal Desktop PC. Core i5 with some GHz, 16 GB RAM and I already moved those db files to my SSD drive.
As i now know it is sqlite (and no bin anymore like in past) i am going to have a look inside the database when i am back home.
Maybe i can see why it is so big.

[2014-04-05 10:27] hrvstr commented on #42
I have the same problem, running XG v3.1.0.1 on Windows 8.1.
My specs:
AMD Phenom II (4x3Ghz)
4 GB DDR2 RAM

running basically nothing else than standard windows services and XG.
CPU activity jumps from 15-30% during XG startup.
Web interface takes 2-3 minutes to load up.

I have added 2 servers and 3 channels

[2014-04-05 10:30] hrvstr commented on #37
awesome, this should be noted inside the readme!

[2014-04-06 21:02] Freedos commented on #39
Thats what I get with Firebug:

Error: Load timeout for modules: angular,ipCookies,ngAnimate,ngSanitize,ngTable,ui.bootstrap,ngTranslate
http://requirejs.org/docs/errors.html#timeout
http://192.168.1.101:5556/Scripts/require.js
Line 166

[2014-04-06 21:44] Strubbl commented on #42
Hmm, had a look into the database. 160k packets are in and are all up to date. So the size of the db is normal.

Maybe one could load the whole database into the RAM and then start xg using the RAM database? I don't have a clear idea about it atm, but maybe you have one?

I am going to think about it, too. Maybe a tmpfs or the like. A solution might be a script, manually copying the config files o

[2014-04-06 23:12] Khundian opened #43 "Item name clean-up when xdcc listing"
When xdcc listing bots, XG puts the date and time of when the packet was uploaded in the item name in the search results. Looks kinda messy, would be nice if you could remove the date and time from the item name.

Thanks!

[2014-04-07 17:55] lformella commented on #43
Can you please take a screenshot and describe exactly what you mean?

[2014-04-07 18:00] lformella commented on #39
Please try reloading your browser with F5. I experienced the problem some time ago and solved it by reloading the page. Maybe you must reload it multiple times. I will look into the issue, but this might solve your problem.

[2014-04-07 19:16] antoine-morisseau opened #44 "xdcc download cancel doesn't work."
Hello,
It seems than issue occure each time for me when i try to cancel a download that is in progress. In the interface it show it is cancelled but if i go into the tmp folder it show the file and the console show this kind of message error

"FATAL [33] XG.Business.Helper.FileSystem.DeleteFile(PATHTOFILE) System.IO.Exception: the process cannot access to the file 'PATHTOFILE' because it is alread

[2014-04-07 19:19] antoine-morisseau opened #45 "Download automatically a xdcc link at XG startup"
Hello,

I found an issue that occure quite often when i try to cancel a download in progress.
If after cancelled the download i shutdown XG and restart it at connecting to the ircs servers and channel it re send an xdcc send request and download automatically the cancelled file.

It is hard for me to get any trace since i don't know how to put the console log into a file and copy past here.

[2014-04-08 17:48] lformella commented on #39
If it wont work, please try the solution mentioned in issue #35

[2014-04-08 18:35] #34 closed, assigned to lformella

[2014-04-08 18:41] lformella commented on #45
Do you cancel the downloads in the file view? ATM there is a bug in this view which will delete the files, but don't disable the packets - so they are requested again upon restart. If you cancel the downloads in the packet / bot view this issue should not happen.

[2014-04-08 22:01] #44 closed, assigned to lformella

[2014-04-08 22:03] #45 closed, assigned to lformella

[2014-04-09 07:41] antoine-morisseau commented on #45
Okay but the thing is i ask the packet with the xdcc link inputs (for the xdcc bot i use the xdcc bot listing etc doesn't work) so they doesn't appear in any other view. it appear only in the download view.
But thanks for the issue solved !

[2014-04-09 08:59] Khundian commented on #43
Hi Lars,

I tried to replicate this issue, but strangely I cannot do it again. XG keeps asking the next bot for version, and never asks a bot for a list now.

But I think I got this issue because I was listing modified iroffer bots. Many servers/channels use their own modifield version, maybe XG gets confused with the custom output it gets from these modified bots. I cannot code myself, but I took

[2014-04-09 13:58] scottc opened #46 "Typo in: Config -> Irc 'Passwort'"
There is a typo in the Irc Password field.

Goto the Config, then look at the Irc Password field. 'Passwort'

[2014-04-09 18:28] lformella commented on #43
Can you please name the server and channel where you noticed this behaviour? You can send an email if you don't want to write it down in public.

XG will just asked voiced users to reply the version. I implemented this restriction because it is a bad practise to ask all users in a channel. Some clients alert the user on a ctcp version request and this is mostly detected as spam. I had a long discu

[2014-04-09 20:36] #46 closed, assigned to lformella

[2014-04-10 09:08] Khundian commented on #43
I sent you a mail :)

[2014-04-10 19:37] #43 closed, assigned to lformella

[2014-04-10 20:53] lformella commented on #43
I have been in one of your channels for two hours and XG was getting a bunch of packets and was not kicked because of ctcp spam :-)

[2014-04-10 21:11] Khundian opened #47 "server disconnect and reconnect"
XG sits on 10 servers and 20+ channels, but somehow the same server disconnects and reconnects regulary. The server I am talking about is irc.abjects.net. When I connect with mIRC, I not get disconnected. Am I the only one having this issue?

[2014-04-11 06:38] Khundian commented on #43
Indeed, its working nicely, You work fast :)
Thanks!

[2014-04-12 08:09] Khundian commented on #47
XG is connected to about 20 servers and 50 channels now, and It seems its not related to only 1 server. I can see several servers/channels disconnect and reconnect randomly, somehow XG doesn't manage to stay connected to all of them at once.. at least not for long.
I must admit that elasticsearch is keeping my server + node very busy, always high cpu load. But I don't think this has anything to do

[2014-04-12 16:10] Freedos commented on #39
Okay I tried to put System.Xml.Linq.dll in XG folder acording to #35.
This resulted in an uhandled expection:
http://pastebin.com/i7ZhDcRW

Refreshing didn't really worked out for me

[2014-04-12 16:21] Freedos opened #48 "Greasemonkey Search Provider Script for XG 2"
I found this great Greasemonkey userscript fpr XG 2:
http://userscripts.org/scripts/show/187324

I didn't modified it for XG 3 since 3 isn't working on my setup but maybe Lars wants to add it in his next version?

I also added ixIRC to it and fixed some bugs:

[code]

[2014-04-12 19:07] lformella commented on #47
Please enable Error logging by putting this file https://gist.github.com/lformella/10551086 into your XG user folder. And look for messages like "WatchConnection() connection seems hanging ...".

I implemented a connection watcher because I got hanged up bot connections on my windows download box. The connections was still open, but not receiving any data. The watcher also monitors normal irc conn

[2014-04-12 19:10] lformella commented on #39
"Address already in use" means some process already uses the port of the build in webserver. Either a XG process is still running, or another 3rd party application uses this port. Please kill XG if its running or choose another port if it conflicts with other applications.

[2014-04-12 19:31] Freedos commented on #39
Ah sorry for that. tried again and got same results as before. Refreshing didn't help.

[2014-04-20 00:09] copen2 commented on #34
![crash](https://cloud.githubusercontent.com/assets/6564256/2750946/db73c888-c8a7-11e3-86f5-a125785a1b26.png)
Sorry, didn't have time to get back to this until now.

Still crashes on 3.1.0.1 upon launch.  Very frustrating.  Does this have something to do with the fact that I used to have 2.3 installed?

[2014-04-20 16:25] copen2 opened #49 "Can't start XG 3.1.0.1 on Win7 x64"
Always crashes on startup.

![crash](https://cloud.githubusercontent.com/assets/6564256/2750966/643ca694-c8a8-11e3-8cdd-15c838ed0737.png)

[2014-04-21 04:46] scottc commented on #49
What does the first few lines say?

Try:
https://github.com/lformella/xdcc-grabscher/wiki/troubleshooting
`System.MissingMemberException: The server factory could not be located for the given input: Nowin`

Make sure you have all the required nuget package dlls in the \XG.Application\bin folder, in particular Nowin.dll and Microsoft.Owin.Host.HttpListener.dll.

[2014-04-21 05:39] scottc opened #50 "Plugins via reflection or configuration"
Horriblesubs does not allow for packlist command, so I wrote this plugin and it works nicely.

However it would be nice to have it in a seperate project that would automatically get detected and called if I drop the dll into the bin folder via reflection or configuration file. Rather then having to modify the Application project and referencing the dll and then adding the line of code `app.AddWork

[2014-04-21 05:51] scottc opened #51 "API Documentation is missing"
API Documentation is missing

example:

[code]

[2014-04-21 06:28] scottc opened #52 "Automatic package download"
Can we subscribe to a search query, to have all packages download automatically apon discovery?

So when I get home from work, all my desired tv shows or movies will be automatically downloaded.

Or if i decided to download a previously aired tv show, but needed to download 200 episodes, it would be nice to be able to queue them all matching the search query, with one button click.

[2014-04-21 06:30] scottc opened #53 "IRC View - Hard to navigate?"
Currently the IRC View is groupped by Bot, can we have an option to group by package name?
I think this will make is significantly easier to navigate.

To me the package is more important, then the bot. I suggest also having it as the default setting.

[2014-04-21 07:22] scottc opened #54 "SignalR exception thrown by Task: System.AggregateException:"
Getting runtime errors in the console output, but no noticeable behavioural problems with the XG application or web GUI. Unsure at which point in time these errors are occuring.

Looks like the error can be safely ignored because the underlying exception is just a NotImplementedException. Perhaps a empty catch block to suppress the NotImplementedException and rethrow anything else?

OS: ArchLinux

[2014-04-21 09:24] Freedos commented on #52
If you know python you can try to write a Plugin for Sickbeard and Couchpotato. It already has proper TV show handling. You just need to use XGs API.
I tried to write one but because of of my lag of time and knowledge didn't produced anything usefull.

http://sickbeard.com/
https://couchpota.to/

[2014-04-21 15:11] scottc commented on #52
I don't know python, I know C# and JavaScript, would be easier for me to make a push request.

I would rather this feature to piggyback of the existing search functionality and events, without introducing additional dependencies. I guess it depends on how Lars wants to architect XG, I'll wait and see what Lars recommends. I think there are several ways you can go with this feature.

[2014-04-21 20:48] lformella commented on #54
I am getting theses SignalR errors too (on windows and mac). It might be an issue with NoWin, but because these error messages are created in SignalR itself, they cant be catched. SignalR uses some Microsoft logging stuff so they can not be muted by a log4net config and I did not find a way to control the log output of the MS logger.

[2014-04-21 21:05] Khundian commented on #47
I cannot see this message you talk about, I saw the problem get worse when I join more servers/channels. Can you please tell me how I can log to a file, I can send you the log file :)

[2014-04-21 21:18] lformella commented on #52
It is not as easy as it looks, because there are some points you have to keep in mind.
- At the moment searches can contain duplicates. It is hard to detect duplicates, because two packets could be the same even if the size, name or file extension might be different.
- At the moment XG does not remember packets which were already downloaded. Even if these names are saved, there is the duplicate na

[2014-04-21 21:20] lformella commented on #51
Which API do you mean exactly? Source code, plugin system, ...?

[2014-04-21 22:02] lformella commented on #50
Great idea. I hardcoded everything because until now I created all the plugins :)

If you have an idea how to load 3rd party plugins and configs dynamically, feel free to fork the project and replace the hardcoded plugin configuration.

Would it be better to put user plugins into the user bin? There they are surviving reinstalls or new versions.

[2014-04-22 01:56] copen2 commented on #49
I have both DLLs in the application EXE's folder (there is no bin folder).  Looks like the problem is some sort of missing API (get_CurrentManagedThreadID).  Here is the full log:

C:\Program Files (x86)\XG\XG>XG.Application.exe

Unhandled Exception: System.MissingMethodException: Method not found: 'Int32 Sys
tem.Environment.get_CurrentManagedThreadId()'.
   at Microsoft.Owin.Hosting.ServerFactory

[2014-04-23 00:57] scottc commented on #51
Both source code and plugin system.

Edit: When I created this issue, I was thinking about the source code.

I didn't have too much trouble writing a plugin, because the code is pretty clean has sane namespaces and naming conventions. Just one of those habbits that I have from work, where GhostDoc/StyleCop/ReSharper will tell me to comment everything.

[2014-04-23 04:07] scottc commented on #54
Link to the underlying SignalR issue
https://github.com/SignalR/SignalR/issues/2720

[2014-04-23 08:17] scottc commented on #49
See:
http://stackoverflow.com/questions/15569664/system-missingmethodexception-int32-system-environment-get-currentmanagedthread

http://stackoverflow.com/questions/8058832/system-missingmethodexception-method-not-found

https://github.com/lformella/xdcc-grabscher#on-linux-with-mono

Relevant code is in the stack trace, that you provided.

[code]

I'ld recommend installing .net 4.5, if that doesn'

[2014-04-24 14:21] mmaedler opened #55 "XG 3.1.0.1 won't start on Ubuntu 12.04.4"
Hi there!

I just updated to the latest XG3 version and unfortunately it won't start. I can see mono producing quite some CPU usage (~100%), but according to "netstat -ltp" the port 5556 is not opened. There are no errors in the logfile (when started using start.sh) nor on stdout when starting via "mono XG.Application.exe".

Any ideas?

Thanks!

[2014-04-24 14:24] mmaedler commented on #55
Just some additional information on my mono installation:

[code]

[2014-04-24 18:49] lformella commented on #55
How big is your xgobjects.db in your XG user folder? Unfortunately it takes some time until the webfrontend is up an running - I mentioned this also in the Readme: https://github.com/lformella/xdcc-grabscher#how-do-i-use-it
Details are described here: #42

[2014-04-24 19:07] lformella commented on #47
You can use the following config:

[code]

I am not sure if you will receive some useful error messages, because I am using SmartIrc4net and this lib might have a bug. Unfortunately it is currently build without log4net - I will change this in the next release.

[2014-04-24 19:47] mmaedler commented on #55
It's just 39mb big/small.

I had the application running for (at least) 10 minutes, but nothing happened. For testing purposes I now decided to remove the whole config folder and start over new. The webfrontend is reachable now, but produces a couple of js errors: http://i.troll.ws/978f265d.png

[2014-04-25 03:31] copen2 commented on #49
You, sir, are a genius.  Installing .NET 4.5 manually resolved the issue.  I've been dealing with this for months.  Thank you!

[2014-04-25 03:31] #49 closed, assigned to nobody

[2014-04-26 08:31] lformella commented on #49
I ask myself how you installed XG?
I configured the installer to require an installed .net 4.5 package. Did you see any warning that your version is lower?

[2014-04-26 08:39] lformella commented on #55
Please put the following file in your config folder: https://gist.github.com/lformella/10551086
XG will log only fatal errors by default, so maybe there are some errors you wont see. This file will log error messages to your console. If there still are no messages please change the config to

[code]

[2014-04-26 08:41] lformella commented on #39
I guess it is related to #55

[2014-04-26 15:02] copen2 commented on #49
I used the installer.  3 different installers for 3.x, and all resulted in these crashes on startup.  I saw no warnings about versions of .net.  Sounds like the installer should require 4.5 to avoid this in the future for others.

[2014-04-27 04:04] scottc commented on #52
I had a bit more of a think about it, duplicates would be in issue depending on how you are using XG, for example which bots you are targeting and your search.

We could do an equality comparision between the packet name and size, but you would have things like the same movie from different release groups, which will differ in size and name. I doubt anyone would want to download the same bluray mo

[2014-04-27 04:04] #52 closed, assigned to lformella

[2014-04-27 06:40] scottc commented on #50
Did a bit of reading seems using MEF is the best way to go, it's a part of the .net 4.0 framework.

Managed Extensibility Framework (MEF)
http://msdn.microsoft.com/en-us/library/dd460648%28v=vs.110%29.aspx

Created Fork
https://github.com/scottc/xdcc-grabscher-MEF-Plugins

I'll send you a push request whenever I get it done.

[2014-04-27 08:32] scottc commented on #50
Made my first attempt https://github.com/scottc/xdcc-grabscher-MEF-Plugins/commit/47f5ad74c0065167e9c6e26cbfa9f00d67652bfa, it compiles and runs, but it's not detecting the plugins inside the plugins folder for some reason.

[2014-04-27 10:38] scottc commented on #50
Found the problem, plugins are loading correctly.

When using the metadata, you must fill out all the attributes mentioned on the interface, otherwise MEF will not import it.

[code]

[code]

[code]

[code]

But as you can see the meta data is quite handy.

[code]

Alternatively, we don't need to use metadata.

[code]

Just something to be aware of if we are planning to use meta data.

I think the

[2014-04-27 13:42] lformella commented on #50
You can ignore the plugins which extend the LoopPlugin class. I created a branch to use the Quartz-Scheduler to do tasks which have to run an sleep for a while:
https://github.com/lformella/xdcc-grabscher/blob/quartz_scheduler/XG.Business/Job/BotWatchdog.cs
https://github.com/lformella/xdcc-grabscher/blob/quartz_scheduler/XG.Business/Job/Rrd.cs
These tasks fit a quartz job better than a real XG pl

[2014-04-27 16:25] scottc commented on #50
I believe there are other attributes for that purpose, like the configuration and validation ones.
http://msdn.microsoft.com/en-us/library/system.configuration.configurationpropertyattribute%28v=vs.110%29.aspx
http://msdn.microsoft.com/en-us/library/system.componentmodel.dataannotations.validationattribute%28v=vs.110%29.aspx

[code]

Plugins could probably define their own strictly typed configura

[2014-04-28 11:49] mmaedler commented on #55
Thanks for that. I'm getting the followong error:

[code]

Hope that helps!

Thanks,
Moritz

[2014-04-28 20:13] lformella commented on #39
Please try installing "mono-complete". I tried a a fresh 14.04 ubuntu box today and there were some mono libs missing. I could not find out which one exactly, but pulling all in did the trick.

[2014-04-28 20:13] lformella commented on #35
If you are running ubuntu, take a look here: #39

[2014-04-28 20:14] lformella commented on #55
Please take a look at #39 and install the mentioned package too.

[2014-04-29 04:45] scottc commented on #35
I would advice against copying any System.*.dll to XG directory if possible, these are the .net framework dlls, and would typically be installed globally on your machine. Instead I would make sure I had the latest .net framework or mono installed correctly.

Also keep in mind there are various versions of the .net framework, so if you were to copy that dll you would also need to make sure you grab

[2014-04-29 04:45] scottc commented on #39
I would advice against copying any System.*.dll to XG directory if possible, these are the .net framework dlls, and would typically be installed globally on your machine. Instead I would make sure I had the latest .net framework or mono installed correctly.

Also keep in mind there are various versions of the .net framework, so if you were to copy that dll you would also need to make sure you grab

[2014-04-29 08:21] mmaedler commented on #55
Thanks! I've installed mono-complete (the installation went ok, except for mono-browser, which was screwed). I've also copied /usr/lib/mono/4.5/System.Xml.Linq.dll to the local XG folder, but the error remains the same.

Any further ideas?

Thanks,
Moritz

[2014-04-30 16:38] lformella commented on #55
I tried a fresh 12.04 ubuntu box and could not start XG, too.
I installed mono 3.0.6+dfsg-1~exp1~pre1 with a broken mono-browser. I could not install your mentioned 3.2.1 version because there were missing dependencies.

I started a stock XG 3.1.0.1 and was able to enter the password but after this the signalr connection building didnt work and the webgui showed an error.
This is the XG console:

[2014-05-02 05:24] Khundian commented on #47
as you predicted, I didn't get much useful information from the logfile, lots of error notifications from a couple of servers who keep disconnecting. Though there is one section at the end of the log that might be useful to you, I sent you the log in your mail.

[2014-05-02 05:38] Khundian opened #56 "Exception while building latest master"
System.MissingMemberException was unhandled
  _HResult=-2146233070
  _message=The server factory could not be located for the given input: Nowin
  HResult=-2146233070
  IsTransient=false
  Message=The server factory could not be located for the given input: Nowin
  Source=Microsoft.Owin.Hosting
  StackTrace:
       at Microsoft.Owin.Hosting.Engine.HostingEngine.ResolveServerFactory(StartContext co

[2014-05-02 07:24] lformella commented on #56
Take a look here: https://github.com/lformella/xdcc-grabscher/wiki/troubleshooting#startup-errors

Sometimes Visual Studio forgets to copy some needed libraries into the bin folder. I dont know if they are not correctly embedded / linked / whatever into the visual project files.

[2014-05-02 08:17] Khundian commented on #56
thanks for the info, its working now :)

[2014-05-02 08:17] #56 closed, assigned to lformella

[2014-05-03 18:35] lformella commented on #48
Is http://www.xdccfinder.com down / for sale?

[2014-05-03 19:04] lformella commented on #48
It would be better to update the already embedded xg.bitpir.at service to use other search engines, too. If some engine goes down or there is a new one, you just have to add them in one place and all XG versions out there can use the updated engines.

You just have to patch the external function in the search controller (https://github.com/lformella/xg.bitpir.at/blob/master/XG/Classes/Controller/S

[2014-05-04 20:21] Khundian opened #57 "Illegal characters in path when xdcc listing"
02-05-2014 18:52:00,634 FATAL [XXX.XXX.XXX.XXX:50226] 157:XG.Plugin.Irc.Download.StartWriting(S:\TEMP\irc.XXX.org.XDCC|011)
System.ArgumentException: Illegal characters in path.
   at System.IO.Path.CheckInvalidPathChars(String path, Boolean checkAdditional)
   at System.IO.Path.NormalizePath(String path, Boolean fullCheck, Int32 maxPathLength, Boolean expandShortPaths)
   at System.IO.Path.GetFul

[2014-05-04 20:35] Khundian opened #58 "Synchronize error"
04-05-2014 21:59:05,238 ERROR [DefaultQuartzScheduler_Worker-4] 0:NHibernate.Event.Default.AbstractFlushingEventListener.Could not synchronize database state with session
NHibernate.StaleObjectStateException: Row was updated or deleted by another transaction (or unsaved-value mapping was incorrect): [XG.Model.Domain.Packet#cc71af67-6caa-4c90-b4e7-56db193ca2d2]
   at NHibernate.Persister.Entity.Abs

[2014-05-06 06:41] #57 closed, assigned to lformella

[2014-05-06 06:44] lformella commented on #58
Does the error message with this packet guid (cc71af67-6caa-4c90-b4e7-56db193ca2d2) occurs just once or multiple times?

[2014-05-24 16:29] Freedos opened #59 "API url Encoding"
Hey,

I think I've found a bug in the api. When the link contains special characters like "[MG]-TV|EU|S|Brothers" i get a blank website as response. The problem seems to be the "|" character. Also encoding "|" to %7C didn't work. Would be nice if you can fix this.

[2014-05-25 12:15] Freedos commented on #52
If you're still interested here's a input and output plugin I've written for XDCCgrabscher in Flexget:

input:

[code]

output:

[code]

here is an example config file for series downloading:

[code]

You need to specify XDCCgrabscher squlite db for the input plugin and the api adress with key for the output plugin.

more info: flexget.com

[2014-05-25 19:49] lformella commented on #52
You should not use the sqlite file, because it will be removed in the next version. Sqlite ist to slow when loading and saving, so I switched to DB4O which at least doubles the performance.

If you need access to servers, channels, bots, packets or even files and searches, this should be added in the api itself. Please create a new issue and describe which new api calls your are needing.

[2014-05-25 22:17] Freedos opened #60 "New API features and redesign"
#26 #52 #59

To download packages over the API it would be nice to post a JSON encoded request. For example:

POST ht*p://your-own-host:5556/api/downloadPacket

[code]

returns:

[code]

Also searching for Packets would be nice since SQLite won't be used anymore:

POST ht*p://your-own-host:5556/api/searchPackets

[code]

which returns a list with JSON encoded Packets

[code]

Please give your sugg

[2014-05-26 19:00] lformella commented on #60
Please take a look here: https://github.com/lformella/xdcc-grabscher/blob/xg_3.3/README.md#api
The api methods **downloadPacket**, **searchPackets** and **enable** are already implemented.

[2014-05-27 16:10] Freedos commented on #60
More than enough for me. I will test it as soon XG 3.3 is released

[2014-05-28 11:48] scottc commented on #52
I also think this feature would add too much bloat and is bad design (unix philosophy: programs should only do one thing and do it well). The responsability should be given to an external app or plugin. As per the sickbeard/flexget suggestion.

Scheduling/automation of packages vs downloading packages.

[2014-05-28 12:39] scottc commented on #60
If you are going to redesign the Web API, I suggest following a modified RESTful pattern.
https://en.wikipedia.org/wiki/Representational_State_Transfer#Applied_to_web_services

**Objects:**
Server
Channel
Bot
Package
QueuedPackets

**Methods for each collection / object:**
List/fetch (GET / or /guid)
Replace/Update (PUT / or /guid)
Create (POST / or /guid)
Delete (DELETE / or /guid)

**Formats:**

[2014-05-28 15:00] scottc commented on #42
Why must we vacuum the DB on startup? Could we periodically vacuum during runtime instead. for example every 5 minutes do a mini vacuum.

[code]

Or something like that, my SQL skills isn't the best. The top 50 and the 5 minutes could be adjusted to suit performace vs cleanness.

Loading the entire DB into ram is a bad idea, better off just creating indexes for the data you need to query frequentl

[2014-05-28 15:55] Strubbl commented on #42
I think Lars is switching the database from sqlite to db4o. So we can expect performance boost with that.

[2014-05-28 18:52] lformella commented on #42
![Yes you can](https://m1.behance.net/rendition/modules/44830197/hd/f1f8d94422b201502e3b039d449d9024.jpg)

[2014-06-11 17:38] lformella commented on #60
I updated the api again to match the rest standard: https://github.com/lformella/xdcc-grabscher/blob/xg_3.3/README.md#api
It should cover all actions you are allowed to execute externally.

[2014-06-17 14:19] adrenochrom commented on #42
lformella:
"The start up speed is limited by sqlite. Maybe I will find another embedded database to use, but atm you can only speed up loading time by installing a separate database like mysql and create your own hibernate config. If you need help, I can post an example."

Is it possible to post a short howto about changing the the database from sqlite to mysql?

[2014-06-20 07:39] mmaedler commented on #55
Quick update: I recently updated to 3.2.0.0 and now it seems to work again on Ubuntu 12.04.4.

[2014-06-20 07:39] #55 closed, assigned to lformella

[2014-06-20 07:43] mmaedler opened #62 "Closing Connection: Connection Lost w<0"
Hiya,

I am able to download again, but after a few bytes (random number) the download stops and the bot reports:
`Received: 17631 kb - Closing Connection: Connection Lost w<0 (Connection reset by peer)`

XDCC Grabscher sits behind a NAT firewall, so I was wondering if I need to open any other ports apart from the one for the webinterface?

Thanks,
m

[2014-06-20 10:53] Strubbl opened #63 "NHibernate.StaleStateException: Unexpected row count: 0; expected: 1"
I get a lot of the following exceptions:

[code]

Every minute I get one to two of those exceptions. Is something wrong with my database? How can I figure out what?

[2014-06-26 13:04] scottc commented on #42
https://github.com/scottc/xdcc-grabscher/commit/3c238611600ffd742872cacf6853f249f414dcba
Postsponing it to after the web interface plugin is loaded, and spawning a thread works wonders. Although it may cause a race condition, if you attempt to manipulate records which are just about to be deleted etc.

[2014-06-26 19:53] lformella commented on #63
The best option is to shutdown XG and start again. Maybe you lose some informations, but the database itself should be ok. Sometimes nhibernate throws these exceptions and I could not finally find out the exact reason. Because of this (and the speed) I switched to db4o in the next XG version.

[2014-06-26 19:56] lformella commented on #62
The firewall should not be the problem. I am running XG behind a NAT FW, too. Is there some log output matching the bot or file?

[2014-06-26 20:01] lformella commented on #39
solved in #55

[2014-06-26 20:01] #39 closed, assigned to lformella

[2014-06-26 20:02] #35 closed, assigned to lformella

[2014-06-26 20:28] lformella commented on #42
@adrenochrom
The next XG version will include another db engine which is still a flat file, but much faster than sqlite.

@scottc
The reset task is removed in the next XG version, because the relevant properties are now transient. The duplicate checker task is the most expensive and it should be safe to put it into a thread. But I think its better to run both file tasks before any plugin / databas

[2014-06-27 09:34] mmaedler commented on #62
Mhh — there's some log data, but I can see an obvoius relation to a bot/file: https://gist.github.com/04b0f9320028cca5926b

[2014-07-07 18:51] Strubbl opened #64 "mono 3.4 on archlinux: Error destroying handle 0x472 mutex due to 16"
On 25. Jun i made an update from mono 3.2.8 to mono 3.4.0 and since then my XG does not work anymore. On starting I get an error. That's all console output:

[code]

Downgrading mono and mono-addins solves this issue.

Anybody else with this issue (and maybe a workaround without downgrading)?

[2014-07-08 12:03] scottc commented on #64
I'm on archlinux 64bit as well, using mono 3.4.0, no issues here.

Mind you i'm still running an old version of xdcc-grabscher from the 10th of May 2014, which is still using the sqlite db.

Relevant mono code:
https://github.com/mono/mono/blob/master/mono/io-layer/handles.c#L1106

Looking at the comment, apparently it can be caused by 'something' trying to use the handle between when we unlock th

[2014-07-08 12:10] Strubbl commented on #64
It happens directly after start after 2 or 3 minutes. Web interface was not available in the meantime.

Yes, i can provide more info if you can help me on how to collect it.

[2014-07-08 15:15] scottc commented on #42
I run it as a service on boot, on my desktop machine that I shutdown everynight. I don't mind the current performance, but faster is better.

Here is a benchmark, for checking duplicates, comparing N^2 foreach loop, vs Linq groupby broadphase.
https://dotnetfiddle.net/EjRKKW

[code]

N^2, isn't actually that costly in this case, because we are just doing two equality comparisons.

Also we are firi

[2014-07-08 16:45] Strubbl commented on #42
Can u please share ur service unit in the wiki?

[2014-07-13 15:18] scottc commented on #64
Well I guess probably the easiest way to get more information would be by tracing all the XG function calls, by using mono's --trace flag.

[code]

Paste the last 20 lines.

You'll get something like this

[code]

A stacktrace would be ideal, but would involve knowing how to use a debugging tool like gdb, monodevelop, visual studio etc.

[2014-07-19 12:03] gopal-srinivas opened #65 "cannot start on ubuntu 14.04"
getting this error , while running start.sh

Cannot open assembly 'XG.Application.exe': No such file or directory.

[2014-07-20 19:41] Jaglag opened #66 "connecting via bouncer"
Hi,
I want to connect into my bouncer where the networks and channels saved.
When i connect via serverip:Port:Password he always say hes connected but dont join any channel i say he should be in in network config.
And he spamming me over and over again with server connected message.
Is there a way for me to connect him to my bouncer?

[2014-07-20 20:03] Jaglag commented on #66
in irc i can connect to my bouncer via /server ip:port username/networkname:password i dont get it to working via xg -.-

[2014-07-20 20:07] Strubbl commented on #64
the last lines with the crash:

[code]

[2014-07-23 09:21] lformella commented on #65
You can always run XG with mono if you are in the XG directory:
Normal:

Background:

[2014-07-23 09:38] lformella commented on #66
Bouncers and DCC loading through bouncers are not tested with XG. Because I dont have a bouncer nor the time to set it up and test the connections and I cant support this feature.

[2014-07-23 12:39] Jaglag commented on #66
if you want i can give you an znc account from my own znc for testing.
znc is very easy to work with.

[2014-07-23 19:16] Jaglag opened #67 "Max bot Connections"
would be nice to set max bot connections.
for example set to 3 and the other bots set to a seperate waiting queue till 1 is finished.

[2014-07-31 17:15] lformella commented on #67
Unfortunately you cant control the beginning of a download. If you want a packet you send a request and the bot decides if and when you can download the packet. If you receive an download offer, you have to take it. If you dont, you have to request the packet and wait again.

What should happen if you allow 2 connections but select 4 packets? Should XG request all of them? What if all bots have a

[2014-08-02 17:17] Jaglag commented on #67
i using a script atm dccassist this handle the request fine.
i set it to 2 dcc at same time if the bot have a large queue you are right i have to wait till the first two packets dl and then wait till the queue is finished but i select up to 20-30 packets a day when all these dl running on same time my mirc your client and my computer starts to lagging cause of all the packets dl at same time.
i th

[2014-08-06 18:23] Jaglag opened #68 "Subscribtions for tv shows and movies"
Hello again,

it would be really nice to add an subscription feature for example i want game of thrones in german and 720p:

Game.of.Thrones_720p_german
with this hotmask the grabscher filter everything whats "new" for the rls name with . _720p and *german.
or
Game.of.Thrones.S04_720p*german
so he only get s04 and dont dl everything under or above s04 also it would be nice to add this to his db to

[2014-08-07 20:58] lformella commented on #68
An automatic downloading feature was already requested in #52. Please read my comments there.

It would be possible that you attach a "download" flag to a search request and XG downloads a random packet which matches the search term and removes the flag. If you want to automatically download a new packet, you have to attach the flag again.

[2014-08-07 21:24] lformella commented on #66
I am sorry, but I just can support / implement features I use myself or features which are not that complex. I dont even know if smartirc4net (the irc lib used by XG) supports bouncers.

[2014-08-07 21:24] #66 closed, assigned to nobody

[2014-08-08 07:03] #67 closed, assigned to lformella

[2014-08-12 18:07] Strubbl commented on #42
Is there a plan for a next release available? Last is from May... or shall i better build the SW by myself?

[2014-08-13 13:54] scottc commented on #42
What I'm using, for unit file:

[code]

On archlinux:

[code]

Ideally, I would install the app somewhere following the Linux Standards Base convention, or if i was going to keep the the app in my home directory, I might consider running the service under the service manager of my user, by using the `systemctl --user` flag.

I should consider maintaining two packages in the AUR, **xdcc-grabscher**

[2014-08-13 14:02] Strubbl commented on #42
If you could maintain a git verison in the AUR, I would like to install it! :) :+1:

[2014-09-05 07:54] Strubbl commented on #42
@lformella how about a new release?
@scottc have you started your activities for the AUR? Are any pkgbuilds already available?

[2014-09-06 04:55] scottc commented on #42
@Strubbl xbuild does not like the Wix (windows installer) project, but the rest builds fine. Need to figure out a way to exlude building this project, or ignore the xbuild error.

What I've got so far.

[code]

[2014-09-08 19:14] Strubbl commented on #42
@scottc Or maybe it is possible to wiki a manual how to build it with monodevelop or the like? Because I get the wix issues there, too.

[2014-09-09 14:16] scottc opened #69 "xbuild (mono) -- Target named 'Build' not found in the project."
[code]

[code]

I also get the same result when attempting to build the `XG.Build.Mono.mdproj`.

I'm also unable to build those two projects using monodevelop IDE, I assume monodevelop IDE uses xbuild under the hood.

[2014-09-09 14:29] scottc commented on #69
Got the `XG.Build.Mono.mdproj` and `XG.Build.Wix.wixproj`  projects building with xbuild following these instructions.

[2014-09-14 15:05] scottc commented on #42
@Strubbl See Issue https://github.com/lformella/xdcc-grabscher/issues/69, mono is expecting a target called "Build". I posted a fix as well, but I'm hoping to find a better solution.

[2014-09-15 19:08] Strubbl commented on #42
Thanks, I am going to give a try.

[2014-09-15 19:35] Strubbl commented on #69
Okay, I have a question.
Between which tags shall I add the Target line? Am I on the right branch (xg_3.3)?

How can I ged rid of the following build errors, which are different than yours:

[code]

[2014-09-18 10:28] scottc commented on #69
@Strubbl You need to make sure you have all the dependencies first using `nuget restore` in the solution directory. And then add the line anywhere directly under the `<Project>` XML node.

[code]

[2014-09-18 18:23] Strubbl commented on #69
Thanks @scottc, I didn't even had nuget installed. And of course I ran into the next trouble. Okay, I didn't had nuget-cert installed.

So after sorting out the missing build target errors in additonal 12 files, I get the following output:

[code]

build succeeded, but no executable was built?! I don't understand that.
#edit
okay, found the reason for that. some command reset many csproj files. :/

[2014-09-20 19:41] lformella commented on #69
FYI:
XG.Build.Wix is only used on Windows building a msi file using Wix Toolset (http://wixtoolset.org/) - this has to be installed to use it with Visual Studio.
XG.Build.Mono is used by Xamarin Studio to build and create a tar file.

Because there are some '#if __MonoCS__' lines, you should not build a msi with mono.

[2014-09-20 19:48] lformella commented on #42
@Strubbl there is a smartirc4net bug which forces an irc server with heavy load to close the connection after a few minutes (#47) - I will create the next release if this is solved

[2014-09-22 08:52] scottc commented on #69
A better solution might be to add a new build configuration, to ignore those two projects:

This will allow us to build the solution and ignore those two projects using the 'VanillaMono' Configuration, we just need to specify it when we attempt to build with MonoDevelop or xbuild.

[code]

[2014-09-26 18:43] Strubbl commented on #69
@scottc yes, that works.
But I still get the same error when starting xg:

[code]

[2014-09-28 19:28] lformella commented on #69
It seems that your file **xgobjects.db4o** is broken. If you still have the file **xgobjects.db**, you can safely delete the db4o file and XG will transform the sqlite file into db4o again on startup.

[2014-09-28 19:36] Strubbl commented on #69
I did that. But that does not work, too. He creates a broken new db4o. Maybe transforming did not work. But I also deleted xgobjects.db, so that i only have my config file in the ~/.config/XG. Even then the created db4o is broken.

Maybe I have to update my config _xg.config_ file, too?

[2014-09-29 14:39] Freedos commented on #47
I noticed this behaviour too on XG 3.X but didn't had anny issues on XG 2.X. Mabe you could use an old SmartIrc4net version?

[2014-09-29 14:42] Freedos commented on #69
@Strubbl Do you think you could provide a Debian package if you succeed in compiling it? Or maybe you could give a small Tut how to do it?

[2014-09-29 14:55] Strubbl commented on #69
I'm not using Debian for XG - instead I use Arch Linux. The way I got it compiling is documented in this ticket. Finally you might end up with the same error regarding db4o like i did.

[2014-09-29 19:51] lformella commented on #47
Smart4irc was introduced in XG 2.2.0 and I already located a bottleneck and implemented a fix for XG 3.3

[2014-09-30 09:35] lformella commented on #69
@Strubbl this is weird. I'm not getting your 'File format incompatible' exception on windows running .net or osx running the newest mono. The sql to db4o transformation and the start up from scratch are both working.

[2014-10-19 20:51] andre4nap opened #70 "Queue"
Is possible to show a Queue list?
Thank you

[2014-10-20 18:08] lformella commented on #70
What do you mean?

[2014-10-21 10:53] andre4nap commented on #70
If I add some pack from same bot, the app don't enable simultaneous download. So if you can create a list of the queue packs would be wonderful, better if we can delete packs from queue

[2014-10-21 17:08] lformella commented on #70
Do you know channels / bots where you can load more than one packet at once?

XG already has an internal queue. If you enable more than one packet from one bot, the packets will be requested one after another if the previous is completely downloaded. The packets which are enabled or are currently downloading can be displayed if you use a predefined search. If you disable packets, they will be remo

[2014-10-22 05:44] andre4nap commented on #70
If i search for "-Downloads" I would get a list of downloaded files, right? I retrieve this message from server: "Lost connection to XG server - please reload page." Run on Debian 7.5 with Mono complete 3.10.0. There will be a fix for this issue?

[2014-10-22 10:45] dexter777 opened #71 "Feature request: Add many packs at once"
I'm not native english, but I will try to describe it as best I can. On buttonbar, you can add button "Add packs by number" or whatever name you will think about. It will open a window similar like "XDCC Link input" but it will look something like this (I made it in paint :P) http://i.imgur.com/m0dut8v.png
I suppose i don't need to describe Server, Server address, Channel & Bot. Most important par

[2014-10-23 11:41] lformella commented on #70
Nope - if you want to search for downloads or enabled packets, you have to click on a predefined search. The text "downloads" is displayed in the search box, but this is just a visual clue. If you enter "downloads" manually, you will search for packets named "downloads".

[2014-10-23 14:27] andre4nap commented on #70
I've tried on Windows 8.1 system and it work properly. On Debian 7.5 this feature don't work :(

[2014-10-26 17:50] #47 closed, assigned to lformella

[2014-10-26 17:50] #69 closed, assigned to lformella

[2014-10-26 17:50] #53 closed, assigned to lformella

[2014-10-26 18:01] lformella commented on #47
Fixed in [v3.3.0.0](https://github.com/lformella/xdcc-grabscher/releases/tag/v3.3.0.0)

[2014-10-26 18:01] lformella commented on #58
Fixed in [v3.3.0.0](https://github.com/lformella/xdcc-grabscher/releases/tag/v3.3.0.0)

[2014-10-26 18:01] #58 closed, assigned to lformella

[2014-10-26 18:01] lformella commented on #59
Fixed in [v3.3.0.0](https://github.com/lformella/xdcc-grabscher/releases/tag/v3.3.0.0)

[2014-10-26 18:01] #59 closed, assigned to lformella

[2014-10-26 18:02] lformella commented on #60
Fixed in [v3.3.0.0](https://github.com/lformella/xdcc-grabscher/releases/tag/v3.3.0.0)

[2014-10-26 18:02] #60 closed, assigned to lformella

[2014-10-26 18:02] lformella commented on #62
Fixed in [v3.3.0.0](https://github.com/lformella/xdcc-grabscher/releases/tag/v3.3.0.0)

[2014-10-26 18:02] #62 closed, assigned to lformella

[2014-10-26 18:02] lformella commented on #63
Fixed in [v3.3.0.0](https://github.com/lformella/xdcc-grabscher/releases/tag/v3.3.0.0)

[2014-10-26 18:02] #63 closed, assigned to lformella

[2014-10-26 18:02] lformella commented on #65
Fixed in [v3.3.0.0](https://github.com/lformella/xdcc-grabscher/releases/tag/v3.3.0.0)

[2014-10-26 18:02] #65 closed, assigned to lformella

[2014-10-26 18:03] lformella commented on #42
Take a look at the new version [v3.3.0.0](https://github.com/lformella/xdcc-grabscher/releases/tag/v3.3.0.0)

[2014-10-26 18:04] #54 closed, assigned to lformella

[2014-10-26 18:06] lformella commented on #70
Take a look at the new version [v3.3.0.0](https://github.com/lformella/xdcc-grabscher/releases/tag/v3.3.0.0) - it works on Win7 and OSX 10.10 using mono 3.10

[2014-10-26 18:06] #70 closed, assigned to lformella

[2014-10-27 20:23] Strubbl commented on #64
the initial issue of this ticket cannot be reproduced anymore

[2014-10-27 20:23] #64 closed, assigned to nobody

[2014-10-27 20:31] Strubbl opened #72 "FATAL [ 1] 0:XG.Plugin.AWorker.Start() System.EntryPointNotFoundException: FlushFileBuffers at (wrapper managed-to-native) Sharpen.IO.RandomAccessFile:FlushFileBuffers"
Hello,
with the latest release Shiny Shibe I get the following error on a clean fresh setup. I downloaded the Mac-Linux Binaries. (BTW, the files is named XG_3.3.0.0.**tar**.Linux.Mac.**gz**, but I think it was intended to name it XG_3.3.0.0.Linux.Mac.**tar.gz**. This makes a difference when trying to extract the tgz.)

[code]

Config files are created correctly:

[code]

My mono version running o

[2014-10-28 14:06] lformella commented on #72
Looks like the included DB40 version is compiled for windows:
http://opensourcejavaphp.net/csharp/db4o/RandomAccessFile.cs.html

[code]

Strange that this version works on OSX...

I'll try to get and include a mono compatible db4o version.

[2014-10-28 18:59] lformella commented on #72
Please try this archive: ftp://ftp.versant.com/po/db4o/production/db4o-8.0.276.16149-net40.zip

and replace the following dlls located in **db4o-8.0/bin/net-4.0**:
- Db4objects.Db4o.Data.Services.dll
- Db4objects.Db4o.dll
- Db4objects.Db4o.Linq.dll
- Mono.Reflection.dll

[2014-10-28 19:08] Strubbl commented on #72
I copied those files:

[code]

and tried to start afterwards two times. still no success:

[code]

There are some more dll's in the archive. Maybe I should copy them all?

[2014-10-28 19:30] lformella commented on #72
No, this error is related to SharpRobin. Did you deleted the config folder before every start? Please start XG with a previously generated config folder - SharpRobin may have a problem if there is no correct xgsnapshots.db file.

[2014-10-28 19:34] Strubbl commented on #72
You are right. It works! Woohoo. I have new errors in the webgui right after start. But this is a new issue :dancers:
From my point of view this issue can be closed.

[2014-10-28 20:00] Strubbl opened #73 "XG 3.3.0.0 crashes on loading the webinterface: Error destroying handle 0x43b mutex due to 16"
This is a follow-up issue after #72 had been fixed with.

When I start XG in the console and do nothing it seems to run forever. But when i open up a browser (tested with FF 33 and Chromium 38) and open the URL http://localhost:5556/ the following happens:
- xg redirects me to the URL http://localhost:5556/3.3.0.0/Resources/index.html
- xg loads the template website with the title "XG Webfrontend

[2014-10-29 15:27] lformella commented on #73
Where can I get a pre installed virtual box image of your Arch Linux version full of mono exceptions?

Is this ok?
http://virtualboxes.org/images/archlinux/ - Archlinux 2013.08.01 (if the torrent is still alive)

[2014-10-29 15:45] Strubbl commented on #73
I hope. If not, I am going to prepare a minimal image, where the problem can be reproduced.

[2014-10-29 17:06] Strubbl commented on #73
It is my system. :( Not reproducible on a clean system. :) Sorry for bothering you. I need to find the problem in my installation. ATM I have no idea where the problem comes from.

(P.S.: but all other problems before are the same even in the clean installation, e.g. wrong Db4o DLLs, SharpRobin problem when having no config/starting first time)

[2014-10-29 17:06] #73 closed, assigned to nobody

[2014-10-29 18:07] Strubbl commented on #73
haha, now i have started xg with strace and it works:

strace mono XG.Application.exe

WTF??? I can get to the web frontend. I don't understand the world anymore. Crazy stuff.

#edit
ok, some more insight. Not only does XG work with strace in front. Even with "time" in front it works. If i have the blank start of XG, I always get the same error message.

[code]

And i really mean the exact same er

[2014-10-29 23:33] Strubbl commented on #42
Yeah, fast as the wind

[2014-10-29 23:33] #42 closed, assigned to lformella

[2014-10-31 11:10] Strubbl opened #74 "xg exits cause of Unhandled Exception: System.ArgumentOutOfRangeException, Parameter name: startIndex"
Sometimes my XG session gets killed because of an ArgumentOutOfRangeException. Is it possible to catch that one?

[code]

In case this exception occurs, XG does not exit in clean way so that the DB is saved.

[2014-11-04 05:07] Khundian opened #75 "Unhandled Exception Elasticsearch"
First and foremost, many thanks for keeping on the task of developing and supporting this application.

When trying to run the latest version of xdcc grabber with elasticsearch, I get this unhandled exception:

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'Elasticsearch.net, Version=1.0.0.0 Culture=neutral, PublicKeyToken=96c599bbe3e70f5d' or one of its dep

[2014-11-09 08:55] stimpzon opened #76 "FATAL UNHANDLED EXCEPTION: System.NullReferenceException"
Hi,

i tried to install XG 3.3.0.0. Just unpacked the archive and started XG with "mono XG.Application.exe". XG immediately exits with the following message:

[code]

Some system details, let me know if you need more:

[code]

[2014-11-09 09:12] lformella commented on #76
Duplicate of #72 - please look there for a quick solution.

[2014-11-09 09:12] #76 closed, assigned to lformella

[2014-11-09 09:13] stimpzon commented on #76
Yes, found it just seconds ago... sorry for double posting ;)

[2014-11-18 11:20] hashworks opened #77 "Feature request: Chat client or custom commands"
Chats mostly allow commands like "!request".
Since xdcc-grabscher doesn't support bouncers I always need to shut it down, connect by irssi and submit my command.

A chat client tab would solve this issue. Simple Custom Commands would be an alternative, as long as they display the response.

PS: The above !request command may result in an dcc sent to xdcc-grabscher. Will it accept all incoming sent

[2014-11-18 11:21] hashworks commented on #72
This is still an issue in the latest Linux package. Please update it or add a comment in the README.md.

[2014-11-18 11:29] Strubbl commented on #72
An updated package would be nice. This way I do not need to compile (also because of #74)

[2014-11-18 11:30] hashworks opened #78 "Nickserv password isn't saved"
When one wants to change/set the nickserv password in latest v3.3 it always submits the previous value as well:

---

data:{
    "H":"confighub",
    "M":"Save",
    "A":[{
        "AutoRegisterNickserv":true,
        "ElasticSearchHost":"",
        "ElasticSearchPort":0,
        "EnableMultiDownloads":false,
        "FileHandlers":[],
        "IrcNick":"hashworksNET",
        "IrcPasswort":"passw

[2014-11-18 12:30] hashworks commented on #66
Yup, smartirc4net supports bouncers. I think ZNC acts just like any other IRC Server - what would I need to change to set a password for a server? I have the feeling it would work just fine.

[2014-11-18 12:47] Jaglag opened #79 "Rss dcc downloader"
Hi

a plugin/feature like this: https://github.com/ascent12/RSSDCC-bot
would be nice as source you can take xrel rss or a simmiliar site to download these episodes then.

[2014-11-18 13:04] Jaglag commented on #71
most bots supporting "batch" downloading:

 BATCH

[code]

[2014-11-18 13:14] dexter777 commented on #71
yes, but does XG support them?

[2014-11-18 16:50] Jaglag commented on #71
i dont think so

[2014-11-19 14:25] Freedos commented on #79
see #52

[2014-11-19 14:25] Freedos commented on #71
you need to write a script for this which uses the api.
see https://github.com/lformella/xdcc-grabscher#api

[2014-11-20 01:13] Freedos commented on #52
First off all.

THANKS FOR XG 3.3 !!!!!
I've been looking for something like this for years!!!

With the new API + flexget + filebot + my full automatic media-center is just in reach.

here's my search and output plugin for flexget:
http://pastebin.com/kKf5Ln4V
http://pastebin.com/XkzAYv0D

NOTICE!!!!
- The output plugin is only working with the input_XG plugin since it's not using XDCC links but

[2014-11-20 09:33] Freedos commented on #68
Update: I posted a flexget plugin see #52

[2014-12-16 11:06] m7mdcc commented on #72
any new release ?

[2014-12-17 10:19] pooks0r opened #80 "Unbehandelte Ausnahme: System.ArgumentOutOfRangeException: startIndex darf nicht länger als die Länge der Zeichenfolge sein."
This error gets thrown several times a day and kills the process

Unbehandelte Ausnahme: System.ArgumentOutOfRangeException: startIndex darf nicht
 länger als die Länge der Zeichenfolge sein.
Parametername: startIndex
   bei System.String.Substring(Int32 startIndex, Int32 length)
   bei Meebey.SmartIrc4net.IrcConnection._SimpleParser(Object sender, ReadLineEv
entArgs args)
   bei Meebey.SmartIrc4n

[2014-12-17 10:23] pooks0r opened #81 "SignalR exception thrown by Task: System.Aggrega teException: Mindestens ein Fehler ist aufgetreten. ---> System.NotImplementedEx ception: Die Methode oder der Vorgang ist nicht implementiert."
this error gets thrown but won't kill the process

XG.Application.exe Warning: 0 : SignalR exception thrown by Task: System.Aggrega
teException: Mindestens ein Fehler ist aufgetreten. ---> System.NotImplementedEx
ception: Die Methode oder der Vorgang ist nicht implementiert.
   bei Microsoft.AspNet.SignalR.Owin.OwinWebSocketHandler.OwinWebSocket.get_Stat
e()
   bei Microsoft.AspNet.SignalR.WebSock

[2014-12-18 21:03] squirrelsama commented on #73
@Strubbl I am experiencing this issue on Arch Linux x64 with mono versions 3.2-3.10. I run Arch at home and work.  Both machines were installed with the Dec 1 2014 Arch ISO. At home, I cannot reproduce (AMD CPU), at work (Intel Haswell CPU) I can. Even on a freshly wiped install today. Could CPU make have affect your ability to repro?

[2014-12-18 23:09] Strubbl commented on #73
@squirrelsama maybe, i have no idea. i am using 64 bit arch linux, too.

[2014-12-24 15:29] twiddern opened #82 "Webserver bind itself on 0.0.0.0 and not 127.0.0.1"
Hey,

the webserver bind itself on any ip-address on a Debian Wheezy system (0.0.0.0) it would be, so it can be accessed from any ip which is on the system. For security reasons it should be only localhost (127.0.0.1) or some address, which the user can configure

[2014-12-31 17:06] lformella commented on #80
duplicate of #74

[2014-12-31 17:06] #80 closed, assigned to lformella

[2014-12-31 17:09] #74 closed, assigned to lformella

[2014-12-31 17:11] lformella commented on #81
duplicate of #54

[2014-12-31 17:11] #81 closed, assigned to lformella

[2014-12-31 17:16] lformella commented on #77
XG only accepts dcc responses, if the packet from the bot is enabled. Text files send after a xdcc list request are an exception, other dcc responses will be ignored.

[2014-12-31 17:30] lformella commented on #79
I dont have the time to write such special plugins, but you can do it yourself :-)

You can use the [Add command of the XG API](https://github.com/lformella/xdcc-grabscher#add) to add packets. You just have to write a small script / app / whatever, which reads a rss source and pipes the packets to XG.

[2014-12-31 17:30] #79 closed, assigned to lformella

[2015-01-03 12:40] lformella commented on #82
It is a feature, because I and several other users are running XG on a headless machine and need the wildcard binding.

[2015-01-03 12:42] lformella commented on #75
Are you using Windows? On OSX the mono build is working.

[2015-01-03 15:02] twiddern commented on #82
Okay, then it would be aweseome, if you mark this as an enhancement

_It should be possible to configure the webserver binding_

[2015-01-04 10:13] hendrikhofstadt opened #83 "API error"
Every API call except packages.json without a search term results in an error 500. I tested it both on Debian and Windows. There is nothing in the log and even if I change the log to info I don't get anything. I debugged on windows and the result object contains the right information

[2015-01-11 19:17] little0831 opened #84 "Unable to get packets FATAL error"
Output when a packet fails:

C:\Program Files (x86)\XG>xg.application.exe
11-01-2015 11:10:11,972 FATAL [91.121.23.104:57865] 165:XG.Plugin.Irc.BotDownloa
d.StartRun()
System.Net.Sockets.SocketException (0x80004005): An attempt was made to access a
 socket in a way forbidden by its access permissions 91.121.23.104:57865
   at System.Net.Sockets.Socket.DoConnect(EndPoint endPointSnapshot, SocketAdd

[2015-01-11 19:22] little0831 commented on #84
Additional outputs:

11-01-2015 11:19:38,387 FATAL [95.211.130.71:43929] 165:XG.Plugin.Irc.BotDownloa
d.StartRun()
System.Net.Sockets.SocketException (0x80004005): An attempt was made to access a
 socket in a way forbidden by its access permissions 95.211.130.71:43929
   at System.Net.Sockets.Socket.DoConnect(EndPoint endPointSnapshot, SocketAddre
ss socketAddress)
   at System.Net.Sockets.Socket.

[2015-01-12 15:33] little0831 commented on #84
Figured it out! Looks like PeerBlock was blacklisting some IP addresses for bots. When I unblock the IP then it works. Reason the other client was working was because it was outside of the VM for Windows.

Sorry to report a false issue but hopefully this helps anyone who might also be having issues.

----- Still interesting that it would show "\users\lars" considering I don't have a user by that n

[2015-01-12 15:33] #84 closed, assigned to nobody

[2015-01-13 10:36] lformella commented on #84
The XG windows version was compiled in this folder structure. Apparently Visual Studio is adding some debug informations including the path to the source file to the build.

[2015-02-11 09:31] mmaedler opened #85 "Meebey.SmartIrc4net.NotConnectedException kill XG 3.3.0"
Hiya,

just updated to the recent version of XG on my Ubuntu 12.04 machine. After going through the process of replacing the db40 dlls as mentioned in #72 the webinterface came up as expected. However, after adding a server, XG died with this exception:

[code]

Is there any way around this?

Thanks!

[2015-05-20 08:09] stiivo commented on #72
ftp://ftp.versant.com/po/db4o/production/db4o-8.0.276.16149-net40.zip is not working anymore and i can't find and any other resource for downloading the needed *.dlls

Versant, the developing company of db4o is now actian and they decided to stop the db4o development  and also the distributing of the software as stated here:

db4o
With regret we have to announce that Actian decided not to actively

[2015-05-23 20:34] marmeladema commented on #72
Same problem here ...

[2015-05-27 21:12] Backflipz opened #86 "Any way to get a list of all enabled downloads through the API?"
I'm trying to find the guid of the enabled download so that if a user wants to stop the download using the api/guid/disable.json

I don't have the guid of the enabled download because I'm adding in the files using the add function with external information (bot, packetid,channel etc.)

Also is there a way to maintain the api keys regardless of restarts?

[2015-06-04 23:02] pnill opened #87 "API appears to be broken"
curl -H "Authorization: ba663f95-6375-4f9c-ba92-e47
2a8fa661e" -s -XGET localhost:5556/api/1.0/servers.json? -v

Not sure if I'm doing it right this thing isn't very well documented for the API...

[2015-06-05 11:28] pnill opened #88 "Add auto extract?"
Wondering if you'd ever plan on adding an auto extract to the system to automatically extract any .tar files and any .rar/.r00 etc files that are produced after that.

There's tons of stuff written for torrents and usenet for it already.

[2015-06-05 11:37] Strubbl commented on #88
this is already implemented. have a look at the file handlers: https://github.com/lformella/xdcc-grabscher#filehandlers

[2015-06-05 11:50] pnill commented on #88
Ahh, seems the screenshots are missing so the file settings are unclear... can you possibly provide your file settings for it?

[2015-06-05 11:57] Strubbl commented on #88
[code]

You can also create it with the GUI in the settings.

[2015-06-05 12:10] #88 closed, assigned to nobody

[2015-06-06 14:31] pnill opened #89 "Reverse DCC Connections"
I modified this to support Reverse DCC connections:
https://github.com/PermaNulled/xg-sickbeard/commit/bf77cd28d970ea0c2b9f99a95115ac0fc058fe45

It's not completely done yet as you can see ports are static and such but it works.

My code is also fairly sloppy.

More info on Reverse DCC:
http://content.wow.com/wiki/Fserve#DCC_REVERSE

[2015-06-07 11:24] pnill commented on #89
Updated it again to add better support with timeouts:
https://github.com/PermaNulled/XG-SBmod/commit/c6eea8e104f53d6f8d2e477bd52c8ee27765a4ff

https://github.com/PermaNulled/XG-SBmod/commit/086e902672a8c3734836d9d0aef107d9533397b7

Going to support DCC Reverse RESUME next.

[2015-10-03 21:19] slaecker opened #90 "File format incompatible: xgobjects.db4o"
When starting xg on Archlinux I get the below exception. Even after cleaning up xg and its settings and installing from scratch.

Some time ago xg worked fine (last version I used was 3.2.0.0 I think).

[db4o 8.1.184.15492   2015-10-03 23:11:07]
 File format incompatible: '/home/xg/.config/XG/xgobjects.db4o'

Unhandled Exception:
System.NullReferenceException: Object reference not set to an instan

[2015-10-03 23:49] MokuJinJin commented on #72
i finally get this to work.
downloading the file from official web site (http://supportservices.actian.com/versant/default.html) :
Java : https://www.dropbox.com/s/s6farl3dqez7e1r/db4o-8.0.276.16149-java.zip?dl=0
.NET3.5 : https://www.dropbox.com/s/b2nio97ncnqigvf/db4o-8.0.276.16149-net35.zip?dl=0
.NET4.0 : https://www.dropbox.com/s/9pspycobcj6akxn/db4o-8.0.276.16149-net40.zip?dl=0

i've replace a

[2015-10-14 06:24] pnill commented on #90
This seems more like an issue with db4o then XG itself.

[2015-12-10 19:00] pnill commented on #90
So I'm re-reading this months later, have you tried deleting the file /home/xg/.config/XG/xgobjects.db4o ? It seems like it's possible it may have gotten corrupted.

[2015-12-19 03:08] imthenachoman commented on #72
Can anyone help with where am I supposed to put the files that @MokuJinJin is saying to download? I'm having the same issue with the latest release on Ubuntu 14.04 and not sure what to do.

[2016-02-05 20:45] greencopper opened #91 "No executable"
I have just cloned and checked out v3.3.0.0. In the doc it says "Run the program and point your browser to 127.0.0.1:5556."

Run what? There are no executables?

Running the start script also gives:

"Cannot open assembly 'XG.Application.exe': No such file or directory"

[2016-02-05 20:50] greencopper commented on #91
Also in the wiki it says "On Linux/Mac, open up a terminal and navigate to the \XG.Application\bin\ folder", there is no bin folder in XG.Application.

[2016-02-05 20:52] Strubbl commented on #91
You need to download a release from here: https://github.com/lformella/xdcc-grabscher/releases
Cloning the repository just checks out the source code. Of course you can compile the software by yourself.

Be aware that txdcc-grabscher is no longer maintained.

[2016-02-05 21:08] greencopper commented on #91
Thanks. How would I compile it on Linux?

Got the latest release, but it isn't working.

Getting this:

[code]

[2016-02-13 12:26] LegendaryB opened #92 "Not running on raspberry pi / debian"
Hello,

i have downloaded the latest release(Shiny Shibe).
I have extracted the folder and copied it on my raspberry pi. After that i have made the start.sh executable.

When i start the sh with sudo:
sudo ./start.sh
it doesnt start. it does not give me any error message or something like that.

when i run the XG.Application.exe manual i became the exception: 0:XG.Application.Programm.Sorry, you c

[2016-02-14 20:50] Strubbl commented on #92
The problem is that you try to run xg with root privileges. Try it without root as a normal user.

[2016-02-15 14:12] LegendaryB commented on #92
I got:
pi@downloadPi /opt/XG $ ./start.sh
./start.sh: line 15: pid: Permission denied
pi@downloadPi /opt/XG $ ./start.sh: line 14: log.txt: Permission denied

That would be under the normal user pi without root. Maybe as a normal user i does not have the rights to listen to the specific address or port?

[2016-04-11 15:01] Freedos commented on #90
Same Problem here. Ubuntu 14.04 lts with mono-complete 3.2.8. Deleted the db4o and tried with new XG 3.2 generated db4o. Same result. No Problem with  Windows build. I also compiled PermaNulleds mod same Problem.

[2016-08-24 10:28] DasItsch commented on #72
Dear friend!
Have you  seen this before? That's something  really nice, more info here  <http://ntordevimi.soaconcepts.com/e5wpy>

All best, razfaz

[2016-09-04 20:17] pnill commented on #91
That's an bug I recently encountered/fixed in my fork...
https://github.com/PermaNulled/XG-SBmod/issues/2

[2016-09-04 20:18] pnill commented on #90
I finally fixed this in my fork of things,
https://github.com/PermaNulled/XG-SBmod/issues/2

You can grab it from my github page, it essentially has the same functionality and I added in Reverse DCC support.

[2016-09-04 20:18] #87 closed, assigned to nobody

[2016-09-04 20:20] pnill commented on #72
@imthenachoman I've committed a fix for this on my fork if you're still looking for it.

[2016-09-04 20:22] pnill commented on #92
You need to sudo chown -R pi:pi /opt/XG so that it has the ability to create files in the folder.

You should also never run something like this as root, especially with the file handlers basically allowing code execution.

[2016-09-05 19:38] imthenachoman commented on #72
@PermaNulled Thanks! I will check it out.

[2017-04-25 16:31] BigFooBar opened #93 "Cannot change/save Configuration"
Since my last start of XG.Application.exe (using Linux and Mono) I am not able to change/save my configuration anymore using the Web-Frontend. The "save" button is grayed out.

Everything else seems to work.

The HTML-Markup of the Save-Button looks like this and indicates, that somehow the configuration is "not ready" yet.

`<a class="btn btn-primary" ng-click="save()" ng-disabled="!$parent.confi

[2017-04-25 16:35] Strubbl commented on #93
XG is not maintained any more.

[2017-04-25 16:37] BigFooBar commented on #93
Ok @Strubbl sadly to hear that.

[2017-04-27 19:23] hrvstr commented on #93
@Strubbl Are there any alternatives around?

[2017-10-31 22:01] #83 closed, assigned to nobody

[2017-11-28 20:05] bhanu1989 commented on #69
hey.. in linux machine im trying to integrate jenkins with .net application using nuget thru git hub.. in msbuild path should i give msbuild.exe path? or xbuild as its is jenkins in  linux ?

[2017-11-28 20:05] bhanu1989 opened #94 "hey.. in linux machine im trying to integrate jenkins with .net application using nuget thru git hub.. in msbuild path should i give msbuild.exe path? or xbuild as its is jenkins in linux ?"
hey.. in linux machine im trying to integrate jenkins with .net application using nuget thru git hub.. in msbuild path should i give msbuild.exe path? or xbuild as its is jenkins in  linux ?

[2017-11-28 20:21] bhanu1989 commented on #94
@jsauvexamarin